<div id="list_page" style="padding: 12px 20px 15px">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-add" onclick="addInfo()">添加</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">批量操作<i
                            class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu">
                        <li class="publishBtn"><a href="javascript:batchDel();">批量删除</a></li>
                    #*<li class="publishBtn"><a href="javascript:batchPublish();">批量发布</a></li>
                    <li class="publishBtn"><a href="javascript:batchCancelPublish();">批量取消发布</a></li>*#
                    </ul>
                </div>
                <button class="btn btn-default btn-export" onclick="exportExl('规划信息模板')">导入</button>
            </div>
            <div class="col-md-9">
                <form class="form-inline tr search-toolbar" role="form">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <input type="text" id="unit_key" name="searchKeyTitle" class="form-control"
                               placeholder="单位名称">
                        <input type="text" id="pro_key" name="searchKeyTitle" class="form-control"
                               placeholder="项目名称">
                       #* <input type="text" id="certificationDate_key" name="certificationDate" class="form-control"  placeholder="发证日期"
                                onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})">*#

                        #*<select class="form-control" id="ser_key_sts" name="searchKeyStatus" >
                            <option value="">办理状态</option>
                            <option value="Finished">已办结</option>
                            <option value="Unfinished">未办结</option>
                        </select>*#
                    #*<input type="text" id="ser_key_sts" name="searchKeyStatus" class="form-control"
                           placeholder="办理状态">*#
                    </div>
                    <button type="button" class="btn btn-default btn-search" onclick="search()">
                        搜索
                    </button>
                    <button type="button" class="btn btn-default btn-show-all" onclick="showAll()">
                        显示全部
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="datagrid" class="mini-datagrid" allowCellSelect="false" onlyCheckSelection="true" allowResize="true"
         url="/projectInformation/getPage" sizeList="[5,15,20,50]" pageSize="15"
         idField="id" multiSelect="true" showColumnsMenu="true" style="width:100%;"
    >
        <div property="columns">
            <div type="checkcolumn" width="50"></div>
            <div type="indexcolumn" width="5%" headerAlign="center" allowSort="flase" align="center">序号</div>
            <div field="buildUnitName" width="25%" align="center" headerAlign="center" >受理单位名称</div>
            <div field="projectName" width="25%" align="center" headerAlign="center" >项目名称</div>
            <div field="certificationNum" width="20%" align="center" headerAlign="center" >发证文号</div>
            <div field="certificationDate" width="15%" align="center" headerAlign="center" allowSort="true" renderer="dateOpp">发证日期</div>
            <div width="10%" align="center" headerAlign="center" allowSort="true" renderer="opt">操作</div>
        </div>
    </div>
</div>
<div id="edit_page" style="display: none;">
    <div class="tabbable-line" style=" margin:12px 20px 15px;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"><strong>基本信息</strong></a>
            </li>
        #* <li>
             <a href="#tab_1_2" data-toggle="tab"><strong>附加信息</strong></a>
         </li>*#
        </ul>
        <div class="tab-content" style="padding: 0 0 0 0">
            <div class="tab-pane active" id="tab_1_1">
                <form id="guide_edit_form" role="form" ms-controller="guide_edit_form" style="padding-top: 15px">
                    <div class="form-body">
                        <table class="table table-bordered article-table">
                            <tr>
                                <th><font color="#9f9727">说明：</font></th>
                                <td>
                                    <font color="red">*代表必填项</font>
                                </td>
                            </tr>
                            <tr>
                                <th>受理单位(<font color="red">*</font>):</th>
                                <td >
                                    <input type="text" id="id" name="id" style="display: none" ms-duplex="id">

                                    <input type="text" id="contentId" name="contentId" style="display: none" ms-duplex="contentId">
                                    <input type="text" id="buildUnitName" maxlength="260" name="buildUnitName" class="form-control" data-rule="必填项:required;buildUnitName" placeholder="填写受理单位名称" ms-duplex="buildUnitName">
                                </td>
                            </tr>
                            <tr>
                                <th>项目名称(<font color="red">*</font>):</th>
                                <td >
                                #* <input type="text" id="contentId" name="contentId" style="display: none" ms-duplex="contentId">*#
                                    <input type="text" id="projectName" maxlength="260" name="projectName" class="form-control" data-rule="必填项:required;projectName" placeholder="填写项目名称" ms-duplex="projectName">
                                </td>
                            </tr>
                            <tr>
                                <th>项目地址(<font color="red">*</font>):</th>
                                <td >
                                #* <input type="text" id="contentId" name="contentId" style="display: none" ms-duplex="contentId">*#
                                    <input type="text" id="projectAddress" maxlength="260" name="projectAddress" class="form-control" data-rule="必填项:required;projectAddress" placeholder="填写项目地址" ms-duplex="projectAddress">
                                </td>
                            </tr>
                            <tr>
                                <th>面积:</th>
                                <td >
                                #* <input type="text" id="contentId" name="contentId" style="display: none" ms-duplex="contentId">*#
                                    <input type="text" id="area" maxlength="260" name="area" class="form-control" placeholder="填写项目面积" ms-duplex="area">
                                </td>
                            </tr>
                            <tr>
                                <th>发证文号(<font color="red">*</font>):</th>
                                <td >
                                #* <input type="text" id="contentId" name="contentId" style="display: none" ms-duplex="contentId">*#
                                    <input type="text" id="certificationNum" maxlength="260" name="certificationNum" class="form-control" data-rule="必填项:required;certificationNum" placeholder="填写发证文号" ms-duplex="certificationNum">
                                </td>
                            </tr>
                            <tr>
                                <th>发证日期:</th>
                                <td >
                                    <input type="text" id="certificationDate" name="certificationDate" class="form-control"  placeholder="填写发证日期"
                                           ms-duplex="certificationDate"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})">
                                </td>
                            </tr>

                            <tr id="content_field">
                                <th></th>
                                <td>
                                #* <button type="button" class="btn btn-default btn-save-release" onclick="saveData(1)">保存并发布</button>*#
                                    <button type="button" class="btn btn-default btn-save" onclick="saveData()">保 存</button>
                                    <button type="button" class="btn btn-default btn-back" onclick="cancel()">返 回</button
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    mini.parse();
    var grid = mini.get("datagrid1");
    var cur = {
        vm_id: "guide_edit_form",
        form: $('#guide_edit_form'),
        list_page: $('#list_page'),
        edit_page: $('#edit_page'),
        grid: mini.get('datagrid'),
        pro_key: $('#pro_key'),//查询关键字
        unit_key:$('#unit_key'),
        certificationDate_key:$('#certificationDate_key'),
        cIds: $('#cIds'),
        cNames: $('#cNames'),
        certificationDate: $('#certificationDate'),
        indicatorId:content_mgr.indicatorId
    };
    /**
     * 初始化加载
     */
    $(document).ready(function () {
        //初始化文本编辑器
        /* initKindEditor();*/

//        cur.linkUrl.hide();

        //初始化表格高度
        Ls.mini_datagrid_height(cur.grid, 30);

        cur.grid.load({columnId: content_mgr.indicatorId});
        /*getLinks(content_mgr.indicatorId);*/

        //初始化vm
        cur.model = Ls.initFORM(cur.vm_id, {
            id: null,
            turnLink: false,
            cIds: "",
            cNames: ""
        });
        setData(cur.model);

    })

    /**
     * 添加法规
     */
    function addInfo() {

        cur.type = 'add';
        //基本信息重置
        base_info_reset();

        //初始化vm
        cur.model = Ls.initFORM(cur.vm_id, {
            id: null,
            turnLink: false
        });

        cur.cIds.val(content_mgr.node.indicatorId);
        cur.cNames.val(content_mgr.node.name);
        cur.certificationDate.val(new Date().pattern("yyyy-MM-dd HH:mm:ss"));
        cur.list_page.hide();
        cur.edit_page.show();

    }


    function base_info_reset() {
        var ids = ['id','buildUnitName','projectName','certificationNum','certificationDate','projectAddress','area'];
        form_reset(ids);
    }
    /**
     * 编辑事项
     */
    function editOffice(id) {
        cur.record = cur.grid.findRow(function (row) {
            if (row.id == id) return true;
        });
        cur.model = cur.record;
        cur.type = 'edit';

        //设置基本数据
        set_base_info();
        cur.list_page.hide();
        cur.edit_page.show();
    }



    function set_base_info() {
        Ls.assignVM(cur.vm, cur.model);
        avalon.scan();
        if(null != cur.vm.certificationDate) {
            $("#certificationDate").val(cur.vm.certificationDate.pattern("yyyy-MM-dd HH:mm:ss"));
        }
    }

    function set_classify_info() {
        //分类树
    }


    //拉取数据
    function setData(obj) {
        cur.vm = avalon.vmodels[cur.vm_id];
        data = obj;
        if (cur.vm) {
            Ls.assignVM(cur.vm, data);
        } else {
            data.vm_id = cur.vm_id;
            cur.vm = avalon.define(data);
        }
        avalon.scan($("#" + cur.vm_id).get(0), cur.vm);
    }

    /**
     * 保存数据
     */
    function saveData(publish) {

        if (!cur.form.isValid()) {
            return;
        }

        if (cur.type == 'add') {
            url = "/projectInformation/saveEO"
        } else {
            url = "/projectInformation/updateEO"
        }
        Ls.ajax({
            url: url,
            data: {
                id: cur.vm.id,
                buildUnitName:cur.vm.buildUnitName,
                contentId: cur.vm.contentId,
                projectName:cur.vm.projectName,
                certificationNum:cur.vm.certificationNum,
                certificationDate:cur.vm.certificationDate,
                columnId:cur.indicatorId,
                informationType:content_mgr.node.columnTypeCode,
                projectAddress:cur.vm.projectAddress,
                area:cur.vm.area
            },
            success: function (resp) {
                if (resp.status == '1') {
                    Ls.tips(resp.desc, {times: 2});
                    cur.list_page.show();
                    cur.edit_page.hide();
                    search();
                } else {
                    Ls.tips(resp.desc, {icons:'error',times: 2});
                }
            }
        });
    }

    function delGuide(id) {
        if (confirm('确定删除?')) {
            Ls.ajaxGet({
                url: "/projectInformation/delete",
                data: {
                    ids: id
                },
                success: function (resp) {
                    if (resp.status == 1) {
                        search();
                        Ls.tips(resp.desc, {times: 2});
                    } else {
                        Ls.tips(resp.desc, {icons:'error',times: 2});
                    }
                }
            });
        }
        ;
    }

    function batchDel() {
        var records = cur.grid.getSelecteds();

        if (null == records || records.length <= 0) {
            Ls.tips("请选择一条记录!", {times: 2});
            return;
        }

        var ids = [];
        for (var i = 0; i < records.length; i++) {
            ids.push(records[i].id);
        }

        if (confirm('确定删除?')) {
            Ls.ajaxGet({
                url: "/projectInformation/delete",
                data: {
                    ids: ids.join(",")
                },
                success: function (resp) {
                    if (resp.status == 1) {
                        showAll();
                        Ls.tips(resp.desc, {times: 2});
                    } else {
                        Ls.tips(resp.desc, {icons:'error',times: 2});
                    }
                }
            });
        }
    }

    function dateOpp(e) {
        var record = e.record;
        var dateStr = '';
        var certificationDate = record.certificationDate;
        if(null != certificationDate) {
            dateStr = certificationDate.pattern("yyyy-MM-dd HH:mm:ss");
            return  dateStr;
        }else {
            return certificationDate;
        }
    }

    function opt(obj) {
        var record = obj.record;
        var diyDom = '<button type="button" class="btn btn-default btn-sm btn-edit" onclick="editOffice(' + record.id + ')">修 改</button> ' +
                '<button type="button" class="btn btn-default btn-sm btn-delete" onclick="delGuide(' + record.id + ')">删 除</button>';
        return diyDom;
    }

    /*function goLink(e) {
        var rec = e.record
        var str = "";
        return str = '<a target="_blank" href="' + GLOBAL_HTMLFILEPATH + '/content/article/' + rec.contentId +'?guideId=' + rec.id + '"><u>' + rec.name  + '</u></a>';
    }*/

    function search() {
        var keyValue_unit = cur.unit_key.val();
        var keyValue_pro = cur.pro_key.val();
        var keyValue_certificationDate = cur.certificationDate_key.val();
        $('#certificationDate').val('');
        cur.grid.load({pageIndex:cur.grid.pageIndex,
                       pageSize:cur.grid.pageSize,
                       columnId: content_mgr.indicatorId,
                       projectName:keyValue_pro,
                       buildUnitName:keyValue_unit
        });
    }

    function showAll() {
        cur.unit_key.val('');
        cur.pro_key.val('');
        search();
    }


    function cancel() {
        $('#myTab a:first').tab('show');
        $('#certificationDate').val('');

        cur.list_page.show();
        cur.edit_page.hide();
        search();
    }


    function auto_heigth(id, heigth) {
//        var mini = {};
//        mini.id = id
//        Ls.mini_datagrid_height(mini, heigth);
    }


    /*
    * 表单重置
    * */
    function form_reset(ids) {
        for (var i = 0; i < ids.length; i++) {
            $("#" + ids[i]).val('');
        }
    }


    function exportExl(name) {
        //  var treeNode = cur.ztree.getNodeByParam("id", pid, null);
        Ls.openWin("/projectInformation/projectInfoExport?name="+name+"&columnId="+cur.indicatorId+"&type="+content_mgr.node.columnTypeCode, "500px", "200px", {
            type: 2,
            title: '模板信息导入',
            maxmin: false,
            close:  function () {
                cur.list_page.show();
                cur.edit_page.hide();
                search();
            }
        });
    }
    /**
     * 添加资源返回
     * @param cIds
     * @param cNames
     */
    /*function res_call_back(cIds, cNames) {
        cur.vm.cIds = cIds;
        cur.vm.cNames = cNames;
        avalon.scan();
    }
*/
    Date.prototype.pattern = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "\u65e5",
            "1": "\u4e00",
            "2": "\u4e8c",
            "3": "\u4e09",
            "4": "\u56db",
            "5": "\u4e94",
            "6": "\u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "\u661f\u671f" : "\u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
</script>