#set($hasEdit=$shiro.hasColumnButton("edit"))
#set($hasPublish=$shiro.hasColumnButton("publish"))

<div class="portlet light">
    <div class="portlet-body">

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-4">
                    #if($hasEdit)
                        <button class="btn btn-default btn-add" onclick="add()">添加</button>
                    #end

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 批量操作 <i
                                class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu">
                            #if($hasPublish)
                                <li class="publishBtn"><a href="javascript:issuedOpt('1');">批量发布</a></li>
                                <li class="publishBtn"><a href="javascript:issuedOpt('0');">批量取消发布</a></li>
                                <li class="divider"></li>
                            #end
                            #if($hasEdit)
                                <li class="divider"></li>
                                <li class="deleteBtn"><a href="javascript:deleteAll();">批量删除</a></li>
                            #end
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 属性筛选 <i
                                class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" onclick="searchType(1)">已发布</a></li>
                            <li><a href="javascript:;" onclick="searchType(0)">未发布</a></li>
                        </ul>
                    </div>

                #*<div class="btn-group">
                    <button type="button" class="btn btn-default btn-all-check" id="checkAll" onclick="checkAll(this)"> 全 选</button>
                </div>*#
                </div>
                <div class="col-md-8">

                    <form class="form-inline tr" role="form">
                        <div class="form-group">
                            <input type="text" id="resources" name="resources" class="form-control w140" placeholder="请选择来源" maxlength="50">
                            <input type="text" id="categoryName" name="categoryName" class="form-control w140" placeholder="请选择类别" maxlength="50">
                            <input type="text" id="title" name="title" class="form-control w140" placeholder="标题" maxlength="50">
                        </div>
                        <button type="button" class="btn btn-default btn-search" onClick="search()">查 询</button>
                        <button type="button" class="btn btn-default btn-show-all" onClick="searchClear()">显示全部</button>
                    </form>

                </div>
            </div>
        </div>

        <div id="datagrid1" class="mini-datagrid  ls-mini-grid-cell" style="width:100%;height:500px;" multiSelect="true"
             idField="themeId" sizeList="[15,30,45]" pageSize="15" allowCellSelect="false" onlyCheckSelection="true" onlyCheckSelection="true"
             url="/knowledgeBase/getPage" allowCellWrap="true" allowHeaderWrap="true">
            <div property="columns">
                <div type="checkcolumn" width="40"></div>
                <div id="fieldWidth" field="title" width="120" headerAlign="center" align="left" renderer="renderResources">来源</div>
                <div id="fieldWidth1" field="title" width="160" headerAlign="center" align="left" renderer="renderTypeName">分类</div>
                <div id="fieldWidth2" field="title" width="100%" headerAlign="center" align="left" renderer="renderTitle">标题</div>
                <div width="150" headerAlign="center" align="center" allowSort="false" dateFormat="yyyy-MM-dd HH:mm:ss" field="createDate">创建日期</div>
                <div width="80" headerAlign="center" align="center" renderer="renderPublish">发布</div>
                <div width="140" headerAlign="center" align="center" renderer="renderopt">操作</div>
            </div>
        </div>

    </div>
</div>
<script>
    var hasEdit = $shiro.hasColumnButton("edit");
    var hasPublish = $shiro.hasColumnButton("publish");

    var cur = {
        params: {
            columnId: content_mgr.indicatorId,
            siteId: GLOBAL_SITEID,
            typeCode: 'knowledgeBase',
            condition:'',
            resources: '',
            title:'',
            dataFlag: 1
        }
    }
    $(document).ready(function () {

        /*var width = $(window).width();
        if (width < 1400) {
            $("#fieldWidth").attr("width", 300);
        }*/

        mini.parse();
        cur.grid = mini.get("datagrid1");
        cur.grid.load(cur.params);
        cur.grid.on("beforeselect", function (e) {
            var  disabledStr = Ls.publishStatus(e.record.isPublish);
            if (disabledStr) {
                e.cancel = true
            }
        });
        //重置 datagrid 高度
        Ls.mini_datagrid_height(cur.grid);

    })

    //消息回调
    indexMgr.publish = function (d) {
        cur.grid.findRows(function (row) {
            if ($.inArray(row.contentId, d.contentIds) >= 0) return true;
        }).filter(function (v, i) {
            v.isPublish = d.isPublish;
            cur.grid.updateRow(v);
        });
    }

    //来源
    function renderResources(e) {
        var rec = e.record;
        return rec.resources;
    }

    //类别
    function renderTypeName(e) {
        var rec = e.record;
        return rec.categoryName;
    }

    //标题
    function renderTitle(e) {
        var rec = e.record,  str = "";
        str = rec.title;
        var editStr = '<a  target="_blank" style="text-decoration:underline;color:blue;" onclick="edit(' + rec.knowledgeBaseId + ','+ rec.contentId +')">' + str + '</a>';
        editStr += '<span id="publish_' + rec.contentId + '" class="publish-status">';
        var status = Ls.publishStatus(rec.isPublish);
        if (status != "") {
            editStr += '[生成中...]';
        }
        editStr += '</span>';
        return editStr;
    }

    //发布操所
    function renderPublish(e) {
        var rec = e.record, isLink = rec.isLink, setStr = '',editStr = '';
        var disabledStr = Ls.publishStatus(rec.isPublish);
        var str = '';
        if (hasPublish) {
            if (rec.isPublish == 1) {
                str += '<button ' + disabledStr + ' type="button" class="btn btn-sm btn-default btn-ok" onclick="isLinkClick(' + rec.contentId + ',0)" title="取消发布"><span class="glyphicon glyphicon-ok"></span></button>';
            }else {
                str += '<button ' + disabledStr + ' type="button" class="btn btn-sm btn-default btn-remove" onclick="isLinkClick(' + rec.contentId + ',1)" title="发布"><span class="glyphicon glyphicon-ok"></span></button>';
            }
        }

        return str;
    }

    //操作
    function renderopt(e) {
        var rec = e.record, isLink = rec.isLink, setStr = '',editStr = '';
        var disabledStr = Ls.publishStatus(rec.isPublish);
        var str = '';
        str += '<button ' + disabledStr + ' type="button" class="btn btn-sm btn-default btn-edit" onclick="edit(' + rec.knowledgeBaseId + ','+ rec.contentId +')" title="修改">修改</button>';
        str += '&nbsp;<button ' + disabledStr + ' type="button" class="btn btn-sm btn-default btn-delete" onclick="del(' + rec.knowledgeBaseId + ','+ rec.contentId +')" title="删除">删除</button>';

        return str;
    }

    function isLinkClick(contentId, isPublish) {
        var ids = [];
        ids.push(contentId)
        ids = ids.join(",");
        var str = (isPublish == '1' ? '发布' : '取消发布');
        if (confirm("您确定" + str + "？")) {
            Ls.ajaxGet({
                url: "/content/updateStatus",
                data: {
                    ids: ids,
                    status: isPublish
                },
                success: function (text) {
                    Ls.tipsOk("正在生成处理中")
                    cur.grid.reload();
                },
                error: function () {
                }
            });
        }
    }

    function checkAll(el) {
        var el = $(el);
        if (el.data("checked")) {
            $("input[name='check']").prop("checked", false);
            el.data("checked", false);
        } else {
            $("input[name='check']").prop("checked", true);//check  会被选中
            el.data("checked", true);
        }
    }

    var deleteAll = function () {
        var ids = getIDS();
        var contentIds = getContentIdS();
        if (ids == null || ids.length <= 0) {
            Ls.tipsInfo("请选择数据")
            return;
        }
        ids = ids.join(",");
        contentIds = contentIds.join(",");
        if (confirm("您确定要删除选中的记录吗?")) {
            Ls.ajaxGet({
                url: "/knowledgeBase/delete",
                data: {
                    ids: ids,
                    contentIds: contentIds
                },
                success: function (text) {
                    Ls.tipsOk("批量删除完成，正在生成处理中")
                    cur.grid.reload();
                    cur.grid.deselectAll(true);
                }
            });
        }
    }

    // 删除
    var del = function (id, contentId) {
        var ids = [];
        var contentIds = [];
        ids.push(id)
        contentIds.push(contentId);
        ids = ids.join(",");
        contentIds = contentIds.join(",");
        if (confirm("您确定要删除选中的记录吗?")) {
            Ls.ajaxGet({
                url: "/knowledgeBase/delete",
                data: {
                    ids: ids,
                    contentIds: contentIds
                },
                success: function (text) {
                    Ls.tipsOk("删除完成，正在生成处理中")
                    cur.grid.reload();
                    cur.grid.deselectAll(true);
                }
            });
        }
    }

    //新增
    var add = function () {
        content_mgr.getContentApp("/knowledgeBase/edit");
    }

    //修改
    var edit = function (id,contentId) {
        content_mgr.getContentApp("/knowledgeBase/edit?knowledgeBaseId=" + id + "&contentId=" + contentId);
    }


    var searchType = function (issued) {
        cur.params.isPublish = issued;
        cur.grid.load(cur.params);
    }

    //查询
    var search = function () {
        var title = $("#title").val();
        var categoryName = $("#categoryName").val();
        var resources = $("#resources").val();
        cur.params.title = title;
        cur.params.condition = categoryName;
        cur.params.resources = resources;
        cur.grid.load(cur.params);
    }

    //清空查询条件
    var searchClear = function () {
        $("#title").val("");
        $("#categoryName").val("");
        $("#resources").val("");
        cur.params.title = '';
        cur.params.condition = '';
        cur.params.resources = '';
        cur.grid.load(cur.params);
    }

    //批量发布/取消批量发布
    function issuedOpt(status) {
        var ids = getContentIdS();
        if (ids == null || ids.length <= 0) {
            Ls.tipsInfo("请选择数据！")
            return;
        }
        ids = ids.join(",");
        var str = (status == '1' ? '发布' : '取消发布');
        if (confirm("您确定" + str + "？")) {
            Ls.ajaxGet({
                url: "/content/updateStatus",
                data: {
                    ids: ids,
                    status: status
                },
                success: function (text) {
                    str="批量"+str+"完成，正在生成处理中"
                    Ls.tipsOk(str);
                    cur.grid.reload();
                }
            });
        }
    }
    //循环选中的行
    function getIDS() {
        var rows = cur.grid.getSelecteds();
        var ids = [];
        for (i = 0; i < rows.length; i++) {
            ids.push(rows[i].knowledgeBaseId);
        }
        return ids;
    }

    function getContentIdS() {
        var rows = cur.grid.getSelecteds();
        var ids = [];
        for (i = 0; i < rows.length; i++) {
            ids.push(rows[i].contentId);
        }
        return ids;
    }


</script>