.icon_expandcollapse,.icon_color,.icon_userGroupSetting
,.icon_setting,.icon_setting1,.icon_setting2,.icon_setting3,.icon_setting4,.icon_setting5,.icon_setting6,.icon_setting7,.icon_setting8,.icon_setting9,.icon_setting10,.icon_setting11,.icon_setting12,.icon_setting13,.icon_setting14,.icon_setting15,.icon_setting16,.icon_setting17,.icon_setting18,.icon_setting19

,.icon_arrow,.icon_arrow1,.icon_arrow2,.icon_arrow3,.icon_arrow4,.icon_arrow5,.icon_arrow6,.icon_arrow7,.icon_arrow8,.icon_arrow9,.icon_arrow10,.icon_arrow11,.icon_arrow12,.icon_arrow13,.icon_arrow14,.icon_arrow15,.icon_arrow16,.icon_arrow17,.icon_arrow18,.icon_arrow19

,.icon_edit,.icon_edit1,.icon_edit2,.icon_edit3,.icon_edit4,.icon_edit5,.icon_edit6,.icon_edit7,.icon_edit8,.icon_edit9,.icon_edit10,.icon_edit11,.icon_edit12,.icon_edit13,.icon_edit14,.icon_edit15,.icon_edit16,.icon_edit17,.icon_edit18,.icon_edit19

,.icon_del,.icon_del1,.icon_del2,.icon_del3,.icon_del4,.icon_del5,.icon_del6,.icon_del7,.icon_del8,.icon_del9,.icon_del10,.icon_del11,.icon_del12,.icon_del13,.icon_del14,.icon_del15,.icon_del16,.icon_del17,.icon_del18,.icon_del19

,.icon_add,.icon_add1,.icon_add2,.icon_add3,.icon_add4,.icon_add5,.icon_add6,.icon_add7,.icon_add8,.icon_add9,.icon_add10,.icon_add11,.icon_add12,.icon_add13,.icon_add14,.icon_add15,.icon_add16,.icon_add17,.icon_add18,.icon_add19

,.icon_reload,.icon_reload1,.icon_reload2,.icon_reload3,.icon_reload4,.icon_reload5,.icon_reload6,.icon_reload7,.icon_reload8,.icon_reload9,.icon_reload10,.icon_reload11,.icon_reload12,.icon_reload13,.icon_reload14,.icon_reload15,.icon_reload16,.icon_reload17,.icon_reload18,.icon_reload19

,.icon_check,.icon_checked,.icon_check1,.icon_checked1,.icon_check2,.icon_checked2,.icon_check3,.icon_checked3,.icon_check4,.icon_checked4,.icon_check5,.icon_checked5,.icon_check6,.icon_checked6,.icon_check7,.icon_checked7,.icon_check8,.icon_checked8,.icon_check9,.icon_checked9,.icon_check10,.icon_check11,.icon_check12,.icon_check13,.icon_check14,.icon_check15,.icon_check16,.icon_check17,.icon_check18,.icon_check19,.icon_checked10,.icon_checked11,.icon_checked12,.icon_checked13,.icon_checked14,.icon_checked15,.icon_checked16,.icon_checked1,.icon_checked18,.icon_checked19

,.icon_folder,.icon_folder1,.icon_folder2,.icon_folder3,.icon_folder4,.icon_folder5,.icon_folder6,.icon_folder7,.icon_folder8,.icon_folder9,.icon_folder10,.icon_folder11,.icon_folder12

,.icon_info,.icon_info1,.icon_info2,.icon_info3,.icon_info4,.icon_info5,.icon_info6,.icon_info7,.icon_info8,.icon_info9,.icon_info10,.icon_info11,.icon_info12

,.icon_help,.icon_help1,.icon_help2,.icon_help3,.icon_help4,.icon_help5,.icon_help6,.icon_help7,.icon_help8,.icon_help9,.icon_help10,.icon_help11,.icon_help12

,.icon_download,.icon_download1,.icon_download2,.icon_download3,.icon_download4,.icon_download5,.icon_download6,.icon_download7,.icon_download8,.icon_download9,.icon_download10,.icon_download11,.icon_download12

,.icon_upload,.icon_upload1,.icon_upload2,.icon_upload3,.icon_upload4,.icon_upload5,.icon_upload6,.icon_upload7,.icon_upload8,.icon_upload9,.icon_upload10,.icon_upload11,.icon_upload12

,.icon_save,.icon_save1,.icon_save2,.icon_save3,.icon_save4,.icon_save5,.icon_save6,.icon_save7,.icon_save8,.icon_save9,.icon_save10,.icon_save11,.icon_save12

,.icon_print,.icon_print1,.icon_print2,.icon_print3,.icon_print4,.icon_print5,.icon_print6,.icon_print7,.icon_print8,.icon_print9,.icon_print10,.icon_print11,.icon_print12


,.icon_user,.icon_user1,.icon_user2,.icon_user3,.icon_user4,.icon_user5,.icon_user6,.icon_user7,.icon_user8,.icon_user9,.icon_user10,.icon_user11,.icon_user12

,.icon_sound,.icon_sound1,.icon_sound2,.icon_sound3,.icon_sound4,.icon_sound5,.icon_sound6,.icon_sound7,.icon_sound8,.icon_sound9,.icon_sound10,.icon_sound11,.icon_sound12

,.icon_home,.icon_home1,.icon_home2,.icon_home3,.icon_home4,.icon_home5,.icon_home6,.icon_home7,.icon_home8,.icon_home9,.icon_home10,.icon_home11,.icon_home12

,.icon_seach,.icon_seach1,.icon_seach2,.icon_seach3,.icon_seach4,.icon_seach6,.icon_seach7,.icon_seach8,.icon_seach9,.icon_seach10,.icon_seach11,.icon_seach12

,.icon_mail,.icon_mail1,.icon_mail2,.icon_mail3,.icon_mail4,.icon_mail5,.icon_mail6,.icon_mail7,.icon_mail8,.icon_mail9,.icon_mail10,.icon_mail11,.icon_mail12

,.icon_usergroup,.icon_usergroup1,.icon_usergroup2,.icon_usergroup3,.icon_usergroup4,.icon_usergroup5,.icon_usergroup6,.icon_usergroup7,.icon_usergroup8,.icon_usergroup9,.icon_usergroup10,.icon_usergroup11,.icon_usergroup12

,.icon_count,.icon_count1,.icon_count2,.icon_count3,.icon_count4,.icon_count5,.icon_count6,.icon_count7,.icon_count8,.icon_count9,.icon_count10,.icon_count11,.icon_count12
,.icon_count13,.icon_count14,.icon_count15,.icon_count16,.icon_count17,.icon_count18,.icon_count19

,.icon_commit,.icon_commit1,.icon_commit2,.icon_commit3,.icon_commit4,.icon_commit5,.icon_commit6,.icon_commit7,.icon_commit8,.icon_commit9,.icon_commit10,.icon_commit11,.icon_commit12,.icon_commit13,.icon_commit14,.icon_commit15,.icon_commit16,.icon_commit17,.icon_commit18,.icon_commit19

,.icon_site,.icon_site1,.icon_site2,.icon_site3,.icon_site4,.icon_site5,.icon_site6,.icon_site7,.icon_site8,.icon_site9,.icon_site10,.icon_site11,.icon_site12,.icon_site13,.icon_site14,.icon_site15,.icon_site16,.icon_site17,.icon_site18,.icon_site19

,.icon_flag,.icon_flag1,.icon_flag2,.icon_flag3,.icon_flag4,.icon_flag5,.icon_flag6,.icon_flag7,.icon_flag8,.icon_flag9,.icon_flag10,.icon_flag11,.icon_flag12,.icon_flag13,.icon_flag14,.icon_flag15,.icon_flag16,.icon_flag17,.icon_flag18,.icon_flag19

,.icon_pic,.icon_pic1,.icon_pic2,.icon_pic3,.icon_pic4,.icon_pic5,.icon_pic6,.icon_pic7,.icon_pic8,.icon_pic9,.icon_pic10,.icon_pic11,.icon_pic12

,.icon_up,.icon_up1,.icon_up2,.icon_up3,.icon_up4,.icon_up5,.icon_up6,.icon_up7,.icon_up8,.icon_up9,.icon_up10,.icon_up11,.icon_up12,.icon_up13,.icon_up14,.icon_up15,.icon_up16,.icon_up17,.icon_up18,.icon_up19

,.icon_down,.icon_down1,.icon_down2,.icon_down3,.icon_down4,.icon_down5,.icon_down,.icon_down7,.icon_down8,.icon_down9,.icon_down10,.icon_down11,.icon_down12,.icon_down13,.icon_down14,.icon_down15,.icon_down16,.icon_down17,.icon_down18,.icon_down19


,.icon_pic_gray,.icon_pic_gray1,.icon_pic_gray2,.icon_pic_gray3,.icon_pic_gray4,.icon_pic_gray5,.icon_pic_gray6,.icon_pic_gray7,.icon_pic_gray8,.icon_pic_gray9,.icon_pic_gray10,.icon_pic_gray11,.icon_pic_gray12,.icon_pic_gray13,.icon_pic_gray14,.icon_pic_gray15,.icon_pic_gray1,.icon_pic_gray17,.icon_pic_gray18,.icon_pic_gray19
,.icon_ok,.icon_ok1,.icon_ok2,.icon_ok3,.icon_ok4,.icon_ok5,.icon_ok6,.icon_ok7,.icon_ok8,.icon_ok9,.icon_ok10,.icon_ok11,.icon_ok12,.icon_ok13,.icon_ok14,.icon_ok15,.icon_ok16,.icon_ok17,.icon_ok18,.icon_ok19,
,.icon_list{ background:url(images/icons.png) no-repeat transparent; font-size:0;line-height:0;width:20px; height:20px; overflow:hidden; display:inline-block; cursor:pointer;}


.icon_ok{background-position:-0px -840px;}.icon_ok1{background-position:-20px -840px;}.icon_ok2{background-position:-40px -840px;}.icon_ok3{background-position:-60px -840px;}.icon_ok4{background-position:-80px -840px;}.icon_ok5{background-position:-100px -840px;}.icon_ok6{background-position:-120px -840px;}.icon_ok7{background-position:-140px -840px;}.icon_ok8{background-position:-160px -840px;}.icon_ok9{background-position:-180px -840px;}.icon_ok10{background-position:-200px -840px;}.icon_ok11{background-position:-220px -840px;}.icon_ok12{background-position:-240px -840px;}.icon_ok13{background-position:-260px -840px;}.icon_ok14{background-position:-280px -840px;}.icon_ok15{background-position:-300px -840px;}.icon_ok16{background-position:-320px -840px;}.icon_ok17{background-position:-340px -840px;}.icon_ok18{background-position:-360px -840px;}.icon_ok19{background-position:-380px -840px;}

.icon_flag {background-position:-0px -440px;}
.icon_flag1 {background-position:-20px -440px;}
.icon_flag2 {background-position:-40px -440px;}
.icon_flag3 {background-position:-60px -440px;}
.icon_flag4 {background-position:-80px -440px;}
.icon_flag5 {background-position:-100px -440px;}
.icon_flag6 {background-position:-120px -440px;}
.icon_flag7 {background-position:-140px -440px;}
.icon_flag8 {background-position:-160px -440px;}
.icon_flag9 {background-position:-180px -440px;}
.icon_flag10 {background-position:-200px -440px;}
.icon_flag11 {background-position:-220px -440px;}
.icon_flag12 {background-position:-240px -440px;}
.icon_flag13 {background-position:-260px -440px;}
.icon_flag14 {background-position:-280px -440px;}
.icon_flag15 {background-position:-300px -440px;}
.icon_flag16 {background-position:-320px -440px;}
.icon_flag17 {background-position:-340px -440px;}
.icon_flag18{background-position:-360px -440px;}
.icon_flag19 {background-position:-380px -440px;}

.icon_up {background-position:-0px -380px;}
.icon_up1 {background-position:-20px -380px;}
.icon_up2 {background-position:-40px -380px;}
.icon_up3 {background-position:-60px -380px;}
.icon_up4 {background-position:-80px -380px;}
.icon_up5 {background-position:-100px -380px;}
.icon_up6 {background-position:-120px -380px;}
.icon_up7 {background-position:-140px -380px;}
.icon_up8 {background-position:-160px -380px;}
.icon_up9 {background-position:-180px -380px;}
.icon_up10 {background-position:-200px -380px;}
.icon_up11 {background-position:-220px -380px;}
.icon_up12 {background-position:-240px -380px;}
.icon_up13 {background-position:-260px -380px;}
.icon_up14 {background-position:-280px -380px;}
.icon_up15 {background-position:-300px -380px;}
.icon_up16 {background-position:-320px -380px;}
.icon_up17 {background-position:-340px -380px;}
.icon_up18{background-position:-360px -380px;}
.icon_up19 {background-position:-380px -380px;}


.icon_pic_gray {background-position:-0px -800px;}
.icon_pic_gray1 {background-position:-20px -800px;}
.icon_pic_gray2 {background-position:-40px -800px;}
.icon_pic_gray3 {background-position:-60px -800px;}
.icon_pic_gray4 {background-position:-80px -800px;}
.icon_pic_gray5 {background-position:-100px -800px;}
.icon_pic_gray6 {background-position:-120px -800px;}
.icon_pic_gray7 {background-position:-140px -800px;}
.icon_pic_gray8 {background-position:-160px -800px;}
.icon_pic_gray9 {background-position:-180px -800px;}
.icon_pic_gray10 {background-position:-200px -800px;}
.icon_pic_gray11 {background-position:-220px -800px;}
.icon_pic_gray12 {background-position:-240px -800px;}
.icon_pic_gray13 {background-position:-260px -800px;}
.icon_pic_gray14 {background-position:-280px -800px;}
.icon_pic_gray15 {background-position:-300px -800px;}
.icon_pic_gray16 {background-position:-320px -800px;}
.icon_pic_gray17 {background-position:-340px -800px;}
.icon_pic_gray18{background-position:-360px -800px;}
.icon_pic_gray19 {background-position:-380px -800px;}

.icon_pic {background-position:-0px -780px;}
.icon_pic1 {background-position:-20px -780px;}
.icon_pic2 {background-position:-40px -780px;}
.icon_pic3 {background-position:-60px -780px;}
.icon_pic4 {background-position:-80px -780px;}
.icon_pic5 {background-position:-100px -780px;}
.icon_pic6 {background-position:-120px -780px;}
.icon_pic7 {background-position:-140px -780px;}
.icon_pic8 {background-position:-160px -780px;}
.icon_pic9 {background-position:-180px -780px;}
.icon_pic10 {background-position:-200px -780px;}
.icon_pic11 {background-position:-220px -780px;}
.icon_pic12 {background-position:-240px -780px;}
.icon_pic13 {background-position:-260px -780px;}
.icon_pic14 {background-position:-280px -780px;}
.icon_pic15 {background-position:-300px -780px;}
.icon_pic16 {background-position:-320px -780px;}
.icon_pic17 {background-position:-340px -780px;}
.icon_pic18{background-position:-360px -780px;}
.icon_pic19 {background-position:-380px -780px;}

.icon_site {background-position:-0px -700px;}
.icon_site1 {background-position:-20px -700px;}
.icon_site2 {background-position:-40px -700px;}
.icon_site3 {background-position:-60px -700px;}
.icon_site4 {background-position:-80px -700px;}
.icon_site5 {background-position:-100px -700px;}
.icon_site6 {background-position:-120px -700px;}
.icon_site7 {background-position:-140px -700px;}
.icon_site8 {background-position:-160px -700px;}
.icon_site9 {background-position:-180px -700px;}
.icon_site10 {background-position:-200px -700px;}
.icon_site11 {background-position:-220px -700px;}
.icon_site12 {background-position:-240px -700px;}
.icon_site13 {background-position:-260px -700px;}
.icon_site14 {background-position:-280px -700px;}
.icon_site15 {background-position:-300px -700px;}
.icon_site16 {background-position:-320px -700px;}
.icon_site17 {background-position:-340px -700px;}
.icon_site18{background-position:-360px -700px;}
.icon_site19 {background-position:-380px -700px;}

.icon_commit {background-position:-0px -620px;}
.icon_commit1 {background-position:-20px -620px;}
.icon_commit2 {background-position:-40px -620px;}
.icon_commit3 {background-position:-60px -620px;}
.icon_commit4 {background-position:-80px -620px;}
.icon_commit5 {background-position:-100px -620px;}
.icon_commit6 {background-position:-120px -620px;}
.icon_commit7 {background-position:-140px -620px;}
.icon_commit8 {background-position:-160px -620px;}
.icon_commit9 {background-position:-180px -620px;}
.icon_commit10 {background-position:-200px -620px;}
.icon_commit11 {background-position:-220px -620px;}
.icon_commit12 {background-position:-240px -620px;}
.icon_commit13 {background-position:-260px -620px;}
.icon_commit14 {background-position:-280px -620px;}
.icon_commit15 {background-position:-300px -620px;}
.icon_commit16 {background-position:-320px -620px;}
.icon_commit17 {background-position:-340px -620px;}
.icon_commit18{background-position:-360px -620px;}
.icon_commit19 {background-position:-380px -620px;}


.icon_list{background-position:0 0;}
.icon_color{background-position:-20px 0;}



.icon_add{background-position:0 -100px;}
.icon_add1{background-position:-20px -100px;}
.icon_add2{background-position:-40px -100px;}
.icon_add3{background-position:-60px -100px;}
.icon_add4{background-position:-80px -100px;}
.icon_add5{background-position:-100px -100px;}
.icon_add6{background-position:-120px -100px;}
.icon_add7{background-position:-140px -100px;}
.icon_add8{background-position:-160px -100px;}
.icon_add9{background-position:-180px -100px;}
.icon_add10{background-position:-200px -100px;}
.icon_add11{background-position:-220px -100px;}
.icon_add12{background-position:-240px -100px;}
.icon_add13{background-position:-260px -100px;}
.icon_add14{background-position:-280px -100px;}
.icon_add15{background-position:-300px -100px;}
.icon_add16{background-position:-320px -100px;}
.icon_add17{background-position:-340px -100px;}
.icon_add18{background-position:-360px -100px;}
.icon_add19{background-position:-380px -100px;}

.icon_edit{background-position:0 -80px;}
.icon_edit1{background-position:-20px -80px;}
.icon_edit2{background-position:-40px -80px;}
.icon_edit3{background-position:-60px -80px;}
.icon_edit4{background-position:-80px -80px;}
.icon_edit5{background-position:-100px -80px;}
.icon_edit6{background-position:-120px -80px;}
.icon_edit7{background-position:-140px -80px;}
.icon_edit8{background-position:-160px -80px;}
.icon_edit9{background-position:-180px -80px;}
.icon_edit10{background-position:-200px -80px;}
.icon_edit11{background-position:-220px -80px;}
.icon_edit12{background-position:-240px -80px;}
.icon_edit13{background-position:-260px -80px;}
.icon_edit14{background-position:-280px -80px;}
.icon_edit15{background-position:-300px -80px;}
.icon_edit16{background-position:-320px -80px;}
.icon_edit17{background-position:-340px -80px;}
.icon_edit18{background-position:-360px -80px;}
.icon_edit19{background-position:-380px -80px;}

.icon_del{background-position:0 -60px;}
.icon_del1{background-position:-20px -60px;}
.icon_del2{background-position:-40px -60px;}
.icon_del3{background-position:-60px -60px;}
.icon_del4{background-position:-80px -60px;}
.icon_del5{background-position:-100px -60px;}
.icon_del6{background-position:-120px -60px;}
.icon_del7{background-position:-140px -60px;}
.icon_del8{background-position:-160px -60px;}
.icon_del9{background-position:-180px -60px;}
.icon_del10{background-position:-200px -60px;}
.icon_del11{background-position:-220px -60px;}
.icon_del12{background-position:-240px -60px;}
.icon_del13{background-position:-260px -60px;}
.icon_del14{background-position:-280px -60px;}
.icon_del15{background-position:-300px -60px;}
.icon_del16{background-position:-320px -60px;}
.icon_del17{background-position:-340px -60px;}
.icon_del18{background-position:-360px -60px;}
.icon_del19{background-position:-380px -60px;}

.icon_check{background-position:0 -120px;}
.icon_check1{background-position:-20px -120px;}
.icon_check2{background-position:-40px -120px;}
.icon_check3{background-position:-60px -120px;}
.icon_check4{background-position:-80px -120px;}
.icon_check5{background-position:-100px -120px;}
.icon_check6{background-position:-12px -120px;}
.icon_check7{background-position:-140px -120px;}
.icon_check8{background-position:-160px -120px;}
.icon_check9{background-position:-180px -120px;}
.icon_check10{background-position:-200px -120px;}
.icon_check11{background-position:-220px -120px;}
.icon_check12{background-position:-240px -120px;}
.icon_check13{background-position:-260px -120px;}
.icon_check14{background-position:-280px -120px;}
.icon_check15{background-position:-300px -120px;}
.icon_check16{background-position:-320px -120px;}
.icon_check17{background-position:-340px -120px;}
.icon_check18{background-position:-360px -120px;}
.icon_check19{background-position:-380px -120px;}



.icon_checked{background-position:0 -140px;}
.icon_checked1{background-position:-20px -140px;}
.icon_checked2{background-position:-40px -140px;}
.icon_checked3{background-position:-60px -140px;}
.icon_checked4{background-position:-80px -140px;}
.icon_checked5{background-position:-100px -140px;}
.icon_checked6{background-position:-120px -140px;}
.icon_checked7{background-position:-140px -140px;}
.icon_checked8{background-position:-160px -140px;}
.icon_checked9{background-position:-180px -140px;}
.icon_checked10{background-position:-200px -140px;}
.icon_checked11{background-position:-220px -140px;}
.icon_checked12{background-position:-240px -140px;}
.icon_checked13{background-position:-260px -140px;}
.icon_checked14{background-position:-280px -140px;}
.icon_checked15{background-position:-300px -140px;}
.icon_checked16{background-position:-320px -140px;}
.icon_checked17{background-position:-340px -140px;}
.icon_checked18{background-position:-360px -140px;}
.icon_checked19{background-position:-380px -140px;}


.icon_expandcollapse {background-position:-60px 0;}

.icon_count {background-position:-0px -680px;}
.icon_count1 {background-position:-20px -680px;}
.icon_count2 {background-position:-40px -680px;}
.icon_count3 {background-position:-60px -680px;}
.icon_count4 {background-position:-80px -680px;}
.icon_count5 {background-position:-100px -680px;}
.icon_count6 {background-position:-120px -680px;}
.icon_count7 {background-position:-140px -680px;}
.icon_count8 {background-position:-160px -680px;}
.icon_count9 {background-position:-180px -680px;}
.icon_count10 {background-position:-200px -680px;}
.icon_count11 {background-position:-220px -680px;}
.icon_count12{background-position:-240px -680px;}
.icon_count13{background-position:-260px -680px;}
.icon_count14{background-position:-280px -680px;}
.icon_count15{background-position:-300px -680px;}
.icon_count16{background-position:-320px -680px;}
.icon_count17{background-position:-340px -680px;}
.icon_count18{background-position:-360px -680px;}
.icon_count19{background-position:-380px -680px;}


.icon_usergroup {background-position:-0px -220px;}
.icon_usergroup1 {background-position:-20px -220px;}
.icon_usergroup2 {background-position:-40px -220px;}
.icon_usergroup3 {background-position:-60px -220px;}
.icon_usergroup4 {background-position:-80px -220px;}
.icon_usergroup5 {background-position:-100px -220px;}
.icon_usergroup6 {background-position:-120px -220px;}
.icon_usergroup7 {background-position:-140px -220px;}
.icon_usergroup8 {background-position:-160px -220px;}
.icon_usergroup9 {background-position:-180px -220px;}
.icon_usergroup10 {background-position:-200px -220px;}
.icon_usergroup11 {background-position:-220px -220px;}
.icon_usergroup12{background-position:-240px -220px;}
.icon_usergroup13{background-position:-260px -220px;}
.icon_usergroup14{background-position:-280px -220px;}
.icon_usergroup15{background-position:-300px -220px;}
.icon_usergroup16{background-position:-320px -220px;}
.icon_usergroup17{background-position:-340px -220px;}
.icon_usergroup18{background-position:-360px -220px;}
.icon_usergroup19{background-position:-380px -220px;}


.icon_mail {background-position:-0px -300px;}
.icon_mail1 {background-position:-20px -300px;}
.icon_mail2 {background-position:-40px -300px;}
.icon_mail3 {background-position:-60px -300px;}
.icon_mail4 {background-position:-80px -300px;}
.icon_mail5 {background-position:-100px -300px;}
.icon_mail6 {background-position:-120px -300px;}
.icon_mail7 {background-position:-140px -300px;}
.icon_mail8 {background-position:-160px -300px;}
.icon_mail9 {background-position:-180px -300px;}
.icon_mail10 {background-position:-200px -300px;}
.icon_mail11 {background-position:-220px -300px;}
.icon_mail12{background-position:-240px -300px;}
.icon_mail13{background-position:-260px -300px;}
.icon_mail14{background-position:-280px -300px;}
.icon_mail15{background-position:-300px -300px;}
.icon_mail16{background-position:-320px -300px;}
.icon_mail17{background-position:-340px -300px;}
.icon_mail18{background-position:-360px -300px;}
.icon_mail19{background-position:-380px -300px;}



.icon_help {background-position:-0px -340px;}
.icon_help1 {background-position:-20px -340px;}
.icon_help2 {background-position:-40px -340px;}
.icon_help3 {background-position:-60px -340px;}
.icon_help4 {background-position:-80px -340px;}
.icon_help5 {background-position:-100px -340px;}
.icon_help6 {background-position:-120px -340px;}
.icon_help7 {background-position:-140px -340px;}
.icon_help8 {background-position:-160px -340px;}
.icon_help9 {background-position:-180px -340px;}
.icon_help10 {background-position:-200px -340px;}
.icon_help11 {background-position:-220px -340px;}
.icon_help12{background-position:-240px -340px;}
.icon_help13{background-position:-260px -340px;}
.icon_help14{background-position:-280px -340px;}
.icon_help15{background-position:-300px -340px;}
.icon_help16{background-position:-320px -340px;}
.icon_help17{background-position:-340px -340px;}
.icon_help18{background-position:-360px -340px;}
.icon_help19{background-position:-380px -340px;}


.icon_info {background-position:-0px -320px;}
.icon_info1 {background-position:-20px -320px;}
.icon_info2 {background-position:-40px -320px;}
.icon_info3 {background-position:-60px -320px;}
.icon_info4 {background-position:-80px -320px;}
.icon_info5 {background-position:-100px -320px;}
.icon_info6 {background-position:-120px -320px;}
.icon_info7 {background-position:-140px -320px;}
.icon_info8 {background-position:-160px -320px;}
.icon_info9 {background-position:-180px -320px;}
.icon_info10 {background-position:-200px -320px;}
.icon_info11 {background-position:-220px -320px;}
.icon_info12{background-position:-240px -320px;}
.icon_info13{background-position:-260px -320px;}
.icon_info14{background-position:-280px -320px;}
.icon_info15{background-position:-300px -320px;}
.icon_info16{background-position:-320px -320px;}
.icon_info17{background-position:-340px -320px;}
.icon_info18{background-position:-360px -320px;}
.icon_info19{background-position:-380px -320px;}



.icon_arrow {background-position:-0px -180px;}
.icon_arrow1 {background-position:-20px -180px;}
.icon_arrow2 {background-position:-40px -180px;}
.icon_arrow3 {background-position:-60px -180px;}
.icon_arrow4 {background-position:-80px -180px;}
.icon_arrow5 {background-position:-100px -180px;}
.icon_arrow6 {background-position:-120px -180px;}
.icon_arrow7 {background-position:-140px -180px;}
.icon_arrow8 {background-position:-160px -180px;}
.icon_arrow9 {background-position:-180px -180px;}
.icon_arrow10 {background-position:-200px -180px;}
.icon_arrow11 {background-position:-220px -180px;}

.icon_sound { background-position:0 -660px;}
.icon_sound1 { background-position:-20px -660px;}
.icon_sound2 { background-position:-40px -660px;}
.icon_sound3 { background-position:-60px -660px;}
.icon_sound4 { background-position:-80px -660px;}
.icon_sound5 { background-position:-100px -660px;}
.icon_sound6 { background-position:-120px -660px;}
.icon_sound7 { background-position:-140px -660px;}
.icon_sound8 { background-position:-160px -660px;}
.icon_sound9 { background-position:-180px -660px;}
.icon_sound10 { background-position:-200px -660px;}
.icon_sound11 { background-position:-220px -660px;}


.icon_setting { background-position:0 -600px;}
.icon_setting1 { background-position:-20px -600px;}
.icon_setting2 { background-position:-40px -600px;}
.icon_setting3 { background-position:-60px -600px;}
.icon_setting4 { background-position:-80px -600px;}
.icon_setting5 { background-position:-100px -600px;}
.icon_setting6 { background-position:-120px -600px;}
.icon_setting7 { background-position:-140px -600px;}
.icon_setting8 { background-position:-160px -600px;}
.icon_setting9 { background-position:-180px -600px;}
.icon_setting10 { background-position:-200px -600px;}
.icon_setting11 { background-position:-220px -600px;}



.icon_seach{background-position:0 -480px;}
.icon_seach1{background-position:-20px -480px;}
.icon_seach2{background-position:-40px -480px;}
.icon_seach3{background-position:-60px -480px;}
.icon_seach4{background-position:-80px -480px;}
.icon_seach5{background-position:-100px -480px;}
.icon_seach6{background-position:-120px -480px;}
.icon_seach7{background-position:-140px -480px;}
.icon_seach8{background-position:-160px -480px;}
.icon_seach9{background-position:-180px -480px;}
.icon_seach10{background-position:-200px -480px;}
.icon_seach11{background-position:-220px -480px;}

.icon_reload{background-position:0 -20px;}
.icon_reload1{background-position:-20px -20px;}
.icon_reload2{background-position:-40px -20px;}
.icon_reload3{background-position:-60px -20px;}
.icon_reload4{background-position:-80px -20px;}
.icon_reload5{background-position:-100px -20px;}
.icon_reload6{background-position:-120px -20px;}
.icon_reload7{background-position:-140px -20px;}
.icon_reload8{background-position:-160px -20px;}
.icon_reload9{background-position:-180px -20px;}
.icon_reload10{background-position:-200px -20px;}
.icon_reload11{background-position:-220px -20px;}

.icon_home{background-position:0 -460px;}
.icon_home1{background-position:-20px -460px;}
.icon_home2{background-position:-40px -460px;}
.icon_home3{background-position:-60px -460px;}
.icon_home4{background-position:-80px -460px;}
.icon_home5{background-position:-100px -460px;}
.icon_home6{background-position:-120px -460px;}
.icon_home7{background-position:-140px -460px;}
.icon_home8{background-position:-160px -460px;}
.icon_home9{background-position:-180px -460px;}
.icon_home10{background-position:-200px -460px;}
.icon_home11{background-position:-220px -460px;}

.icon_user{background-position:0 -200px;}
.icon_user1{background-position:-20px -200px;}
.icon_user2{background-position:-40px -200px;}
.icon_user3{background-position:-60px -200px;}
.icon_user4{background-position:-80px -200px;}
.icon_user5{background-position:-100px -200px;}
.icon_user6{background-position:-120px -200px;}
.icon_user7{background-position:-140px -200px;}
.icon_user8{background-position:-160px -200px;}
.icon_user9{background-position:-180px -200px;}
.icon_user10{background-position:-200px -200px;}
.icon_user11{background-position:-220px -200px;}

.icon_folder{background-position:0 -640px;}
.icon_folder1{background-position:-20px -640px;}
.icon_folder2{background-position:-40px -640px;}
.icon_folder3{background-position:-60px -640px;}
.icon_folder4{background-position:-80px -640px;}
.icon_folder5{background-position:-100px -640px;}
.icon_folder6{background-position:-120px -640px;}
.icon_folder7{background-position:-140px -640px;}
.icon_folder8{background-position:-160px -640px;}
.icon_folder9{background-position:-180px -640px;}
.icon_folder10{background-position:-200px -640px;}
.icon_folder11{background-position:-220px -640px;}


.icon_btn84_26{ background-position:-800px 0;}
.icon_btn84_26_hover{ background-position:-800px -40px;}
.icon_btn105_26{ background-position:-900px 0;}
.icon_btn105_26_hover{ background-position:-900px -40px;}

.icon_userGroupSetting { background-position:-80px -40px;}
