<form id="attrForm" class="sui-form form-horizontal sui-validate pd10" style="padding-top: 10px;">

    <fieldset>
        <legend>组件设置</legend>
        <sui-control-group>
            <sui-checkbox v-model="conf.isTitle">显示标题</sui-checkbox>
            <sui-checkbox v-model="conf.isMore">显示更多</sui-checkbox>
        </sui-control-group>

        <sui-control-group title="标题">
            <sui-input size="large" :class="{'uneditable-input':!conf.isTitle}" v-model="conf.title" rules="required"
                       placeholder="请输入标题"></sui-input>
        </sui-control-group>

        <sui-control-group title="大小">
            宽
            <sui-input size="mini" v-model="conf.width" rules="required|digits|gt=49|lt=2001"
                       errmsg="大于等于50且小于2000的整数"></sui-input>
            - 高
            <sui-input size="mini" v-model="conf.height" rules="required|digits|gt=49|lt=2001"
                       errmsg="大于等于50且小于2000的整数"></sui-input>
            <span class="sui-msg msg-info">(单位:像素)</span>
        </sui-control-group>

        <sui-control-group title="内间距">
            <sui-input v-model="conf.panelPadding" rules="required|digits|gt=-1|lt=500" errmsg="大于等于0且小于500的整数"
                       size="mini"></sui-input>
            <span class="sui-msg msg-info">(单位:像素)</span>
        </sui-control-group>

        <!--<sui-control-group title="标题高度" v-if="conf.isTitle">-->
    <!--<sui-input v-model="conf.panelHeadingHeight" rules="required|digits|gt=-1|lt=500"  errmsg="大于等于0且小于500的整数" size="mini" > </sui-input>-->
    <!--<span class="sui-msg msg-info">(单位:像素)</span>-->
<!--</sui-control-group>-->

<sui-control-group title="">
    <sui-checkbox v-model="conf.isCustomPBH">自定义内容高度</sui-checkbox>
</sui-control-group>
<sui-control-group title="内容高度" v-if="conf.isCustomPBH">
    <sui-input v-model="conf.panelBodyHeight" rules="required|digits|gt=-1|lt=5000"  errmsg="大于等于0且小于5000的整数" size="mini" > </sui-input>
    <span class="sui-msg msg-info">(单位:像素)</span>
</sui-control-group>

<sui-control-group title="组件样式" v-if="isStyleList">
    <sui-dropdown v-model="conf.className" @on-target-change="onStyleListChange"
                  :items="styleList">
    </sui-dropdown>
</sui-control-group>

        <div class="control-group">
            <label class="control-label">关联栏目：</label>
            <div class="controls">

                <a href="javascript:void(0);" class="sui-btn btn-primary" v-on:click="associateNode()">设置关联</a>
                <span class="sui-msg msg-warning" v-if="isRelation1">
                  <div class="msg-con">尚未关联到栏目</div>
                  <s class="msg-icon"></s>
                </span>
                <span class="sui-msg msg-success" v-else>
                  <div class="msg-con">已关联到 [ID: {{label.label1.id}}]</div>
                  <s class="msg-icon"></s>
                </span>

            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>头条设置</legend>

        <sui-control-group title="标题字数">
            <sui-input size="input-medium" v-model="label.label1.length" maxlength="3" rules="required|digits|gt=0"
                       errmsg="大于0的整数"></sui-input>
        </sui-control-group>

        <sui-control-group title="摘要字数">
            <sui-input size="input-medium" v-model="label.label1.noteLength" maxlength="3" rules="required|digits|gt=0"
                       errmsg="大于0的整数"></sui-input>
        </sui-control-group>

        <sui-control-group title="摘要来源">
            <sui-radio-group v-model="label.label1.showType">

                <sui-radio label="0">调用摘要</sui-radio>
                <sui-radio label="1">调用内容</sui-radio>
            </sui-radio-group>
        </sui-control-group>

        <sui-control-group title="链接打开方式">
            <sui-dropdown v-model="label.label1.target" @on-target-change="onTargetChange1"
                          items="[{text:'新窗口',value:'_blank'},{text:'当前页',value:'_self'}]">
            </sui-dropdown>
        </sui-control-group>

        <sui-control-group title="">
            <sui-checkbox v-model="label.label1.isDetailed">显示摘要</sui-checkbox>
        </sui-control-group>

        <sui-control-group title="显示详细链接" v-show="label.label1.isDetailed">
            <sui-input size="large" v-model="label.label1.detailed" rules="required" maxLength="10"
                       placeholder="留空显示“【详细】”"></sui-input>
        </sui-control-group>

    </fieldset>


    <fieldset>

        <legend>列表设置</legend>

        <sui-control-group title="链接打开方式">
            <sui-dropdown v-model="label.label2.target" @on-target-change="onTargetChange2"
                          items="[{text:'新窗口',value:'_blank'},{text:'当前页',value:'_self'}]">
            </sui-dropdown>
        </sui-control-group>

        <sui-control-group title="调用条数">
            <sui-input size="input-medium" v-model="label.label2.num" maxlength="3" rules="required|digits|gt=0"
                       errmsg="大于0的整数"></sui-input>
        </sui-control-group>

        <sui-control-group title="标题字数">
            <sui-input size="input-medium" v-model="label.label2.length" maxlength="3" rules="required|digits|gt=0"
                       errmsg="大于0的整数"></sui-input>
        </sui-control-group>

        <sui-control-group title="">
            <sui-checkbox v-model="label.label2.isDate">显示日期</sui-checkbox>
            <div class="sui-msg msg-info">
                <div class="msg-con">修改日期格式，您需要同步修改显示字数，以保证最佳浏览效果</div>
                <s class="msg-icon"></s>
            </div>
        </sui-control-group>

        <sui-control-group title="日期格式">
            <sui-dropdown v-model="label.label2.dateFormat" @on-target-change="onDateFormatChange"
                          items="[{text:'MM-dd',value:'MM-dd'},{text:'yyyy-MM-dd',value:'yyyy-MM-dd'}]">
            </sui-dropdown>
        </sui-control-group>

        <sui-control-group title="">
            <sui-checkbox v-model="label.label2.isChild">调用下级分类信息</sui-checkbox>
        </sui-control-group>

    </fieldset>

</form>





