<div id="ui_layout" class="mini-layout" style="width:100%;height:100%;">
    <div region="center" style="border:none; overflow: auto; overflow-x: hidden;">

        <div style="margin: 25px 20px 10px 20px;">

            <h3 class="page-title"> 发文统计
                <small></small>
            </h3>
            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span id="count_today">0</span>
                            </div>
                            <div class="desc"> 今日发文</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span id="count_yesterday">0</span>
                            </div>
                            <div class="desc"> 昨日发文</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span id="count_week">0</span>
                            </div>
                            <div class="desc"> 本周发文</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="fa fa-area-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span id="count_month">0</span>
                            </div>
                            <div class="desc">本月发文</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat grey">
                        <div class="visual">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span id="count_history">0</span>
                            </div>
                            <div class="desc">历史发文</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h3 class="page-title">
                部门发文详细列表
                <small></small>
            </h3>
            <div>
                <div class="portlet">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" id="adduser_btn" class="btn btn-default btn-export" onclick="exportList()"> 导 出
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <form class="form-inline tr search-toolbar" role="form">
                                        <div class="form-group">
                                            <label></label>
                                            <input type="text" id="organName" class="form-control" placeholder="部门名称">
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <input type="text" id="columnName" class="form-control" placeholder="栏目名称">
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <input type="datetime" id="startDate" class="form-control"
                                                   placeholder="起始时间"
                                                   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <input type="datetime" id="endDate" class="form-control" placeholder="结束时间"
                                                   onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" readonly>
                                        </div>
                                        <button type="button" class="btn btn-default btn-search" onclick="searchList()">查询</button>
                                        <button type="button" class="btn btn-default btn-show-all" onclick="searchClear()">显示全部</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="datagrid1" class="mini-datagrid" allowResize="true" align="center"
                             url="/statistics/getWordPage" sizeList="[5,10,20,50]" pageSize="15" allowCellSelect="false"
                             onlyCheckSelection="true"
                             idField="id" multiSelect="false" showColumnsMenu="true" style="width:100%;height:500px"
                        >
                            <div property="columns">
                                <div type="indexcolumn" width="50" headerAlign="center" align="center">序号</div>
                                <div field="organId" width="100" headerAlign="center" align="center">部门ID</div>
                                <div field="organName" width="100%" headerAlign="center" align="center">部门名称</div>
                                <div field="count" width="100" headerAlign="center" align="center">新建文章</div>
                                <div field="publishCount" width="100" headerAlign="center" align="center">已审发布</div>
                                <div field="unPublishCount" width="100" headerAlign="center" align="center">未发布</div>
                                <div field="rate" width="100" headerAlign="center" align="center">发布率（%）</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- END DASHBOARD STATS 1-->
            <h3 class="page-title"><i class="icon-bar-chart font-blue"></i>
                各部门发文排行TOP 10
                <small></small>
            </h3>
            <div>
                <label></label>

                <div class="radio-group">
                    <label>
                        <input type="radio" name="chartsTime" value="today" checked="checked" onclick="changeCharts('today')"> 今日
                    </label>
                    <label>
                        <input type="radio" name="chartsTime" value="yesterday" onclick="changeCharts('yesterday')"> 昨日 </label>
                    <label>
                        <input type="radio" name="chartsTime" value="week" onclick="changeCharts('week')"> 本周 </label>
                    <label>
                        <input type="radio" name="chartsTime" value="month" onclick="changeCharts('month')"> 本月 </label>
                    <label>
                        <input type="radio" name="chartsTime" value="history" onclick="changeCharts('history')"> 历史 </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered mb25">
                        <div class="portlet-body">
                            <div id="statistics_a" style="height: 410px;">

                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">

    mini.parse();
    var chartsData = [];
    var chartsUnit = [];
    var chartsTime = 'today';

    $(document).ready(function () {
        mini.parse();
        grid = mini.get("datagrid1");
        grid.load({typeCode: 'videoNews'});

        Ls.parseEcharts(function () {
            doChange();
        })
    })

    var get_todoNumber = function () {
        Ls.ajaxGet({
            url: "/statistics/getCount/",
            data: {typeCode: 'videoNews'}
        }).done(function (d) {
            var d = d.data;
            for (var i = 0, l = d.length; i < l; i++) {
                $("#count_" + d[i].chartsTime).text(d[i].count);
            }
        });
    }()

    function doChange() {
        // 使用
        require([
                    'echarts',
                    'echarts/chart/line',
                    'echarts/chart/bar',
                    'echarts/chart/pie'
                ], function (ec) {
                    Ls.ajaxGet({
                        url: "/statistics/getChartsList/",
                        data: {chartsTime: chartsTime, typeCode: 'videoNews', type: 'word'}
                    }).done(function (d) {
                        var d = d.data;
                        chartsData = [];
                        chartsUnit = [];
                        if (d != null && d.length > 0) {
                            for (var i = 0, l = d.length; i < l; i++) {
                                chartsData[i] = d[i].count;
                                chartsUnit[i] = d[i].organName;
                            }
                        }

                        option_a = {
                            grid: {
                                x: 50,
                                x2: 20,
                                y: 50
                            },
                            title: {
                                text: '',
                                subtext: ''
                            },
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                show: false,
                                data: ['发文数量']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    magicType: {show: true, type: ['line', 'bar']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    axisLabel: {
                                        interval: 0
                                    },
                                    data: chartsUnit
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '发文数量',
                                    type: 'bar',
                                    color: '1bb2d8',
                                    itemStyle: {
                                        normal: {
                                            label: {
                                                show: true,
                                                position: 'top',
                                                color: '#88b0bb'
                                            }
                                        }
                                    },
                                    data: chartsData

                                }
                            ],
                            color: [
                                '#FF8C00', '#1bb2d8', '#99d2dd', '#88b0bb', '#88b0bb',
                                '#1c7099', '#038cc4', '#75abd0', '#afd6dd', '#88b0bb'
                            ]
                        };

                        var chart_a = ec.init(document.getElementById('statistics_a'));
                        chart_a.setOption(option_a);

                    });

                }
        );
    }

    function changeCharts(time) {
        chartsTime = time;
        doChange();
    }

    function searchList() {
        var organName = $("#organName").val();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        grid = mini.get("datagrid1");
        grid.load({typeCode: 'videoNews', organName: organName, startDate: startDate, endDate: endDate});
    }

    function searchClear() {
        $("#organName").val('');
        $("#startDate").val('');
        $("#endDate").val('');
        grid = mini.get("datagrid1");
        grid.load({typeCode: 'videoNews'});
    }

    function exportList() {
        var organName = $("#organName").val() == null ? '' : $("#organName").val();
        var startDate = $("#startDate").val() == null ? '' : $("#startDate").val();
        var endDate = $("#endDate").val() == null ? '' : $("#endDate").val();

        var params = "startDate=" + startDate + "&endDate=" + endDate + "&organName=" + organName + "&typeCode=videoNews";
        $('#download_frame').attr("src", "/statistics/exportWordList?" + params);
    }


</script>