#*
<div class="footer">
    <ul>
        <li class="font"><a href="#"><img src="/assets/images/mobile/fotico1.gif" alt="字体"></a></li>
        <li class="sc"><a href="#"><img src="/assets/images/mobile/fotico2.gif" alt="收藏"></a></li>
        <li class="footshare"><a href="#"><img src="/assets/images/mobile/fotico3.gif" alt="分享"></a></li>
    </ul>
</div>*#
