#parse("_page_layout/_header.vm")
<!-- END HEAD -->

<body class="page-body-white">

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light">
    <div class="portlet-body form">

        <form id="user_form" role="form" ms-controller="user_form">
            <div class="form-body">

                <div class="form-group">
                    <label>评议对象：</label>
                    <input name="title" type="text" class="form-control" placeholder="问题不能为空" ms-duplex="title">
                </div>

            </div>
            <div class="form-actions noborder">
                <button type="submit" class="btn btn-default btn-save">保 存</button>
                <button type="button" class="btn btn-default btn-cancel" onclick="Ls.winClose();">取 消</button>
            </div>
        </form>

    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->

</div>
    #parse("_page_layout/_footer.vm")
<script>
    var W = Ls.getWin.win, api = Ls.getWin.api;
    var cur = {
        questionId: '$!{questionId}',
        themeId: '$!{themeId}'
    };

    $(document).ready(function () {
        //拉取数据
        var getData = function () {
            Ls.ajaxGet({
                url: "/survey/question/getSurveyQuestion",
                data: {
                    id: cur.questionId
                }
            }).done(function (d) {

                data = d.data;
                cur.$id = "user_form"
                data.$id = cur.$id;
                data.resetForm = function () {
                    $("#user_form")[0].reset();
                }
                if (data.options == '2') {
                    $(".optionsCount").removeClass("hide")
                }
                if (cur.questionId != '') {
                    data.isUpdate = true
                } else {
                    data.isUpdate = false
                }
                cur.vm = avalon.define(data)
                avalon.scan($("#ID").get(0),cur.vm);

            })
        };

        getData();

    })

    $('#user_form').validator({
        fields: {
            'title': '排序号:required;length[1~40]',
            'optionsCount': '投项数:integer;range[2~20];'
        },
        valid: function () {
            addPost()
        }
    })

    var addPost = function () {
        var data = Ls.toJSON(cur.vm.$model);
        data.themeId = cur.themeId;
        data.optionsList = []
        data.replys = []
        var url = "/survey/question/save";
        Ls.ajax({
            url: url,
            data: data
        }).done(function (d) {
            if (d.status == 1) {
                Ls.tips("保存成功！", {
                    icons: "success", callback: function () {
                        Ls.winClose();
                    }
                })
            } else {
                Ls.tipsErr(d.desc)
            }
        })
    }

    function selectOption(t) {
        if (t == '2') {
            $(".optionsCount").removeClass("hide")
        } else {
            $(".optionsCount").addClass("hide")
        }
    }
</script>
</body>
</html>