#parse("_page_layout/_header.vm")
</head>
<!-- END HEAD -->
<body class="page-body-white" ms-controller="tpl_form">

<div id="ui_layout" class="mini-layout" style="width:100%;height:100%;">
    <div region="center" style="border:none; overflow: auto;">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light">
            <div class="portlet-body form">
                <form id="tpl_form" role="form">
                    <div class="form-body">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label>模板类型</label>
                            <input type="text" id="tempTypeName" name="tempTypeName" readonly class="form-control readonly" ms-duplex="tempTypeName" value="">
                            <input type="text" id="tempType" name="tempType" style="display: none" ms-duplex="tempType">
                            <input type="text" id="parentId" name="parentId" style="display: none" ms-duplex="parentId">
                        </div>
                        <div class="form-group">
                            <label>模板名称</label>
                            <input id="opt_type" type="hidden" value="${type}">
                            <input type="text" id="id" name="id" style="display: none" ms-duplex="id">
                            <input type="text" id="tempName" name="tempName" class="form-control" data-rule="必填项:required;name" placeholder="填写模板名称" ms-duplex="tempName">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    #parse("_page_layout/_footer.vm")
<script>
    var cur = {
        id: 'tpl_form',
        win: Ls.getWin.win,
        api: Ls.getWin.api,
        type: Ls.url.get("type"),
        treeId: Ls.url.get("id")
    }

    $(document).ready(function () {
        cur.treeObj = cur.win.cur.treeObj;
        cur.api.button(
            {
                id: 'save',
                className: 'btn-save',
                focus: true,
                name: '确定',
                callback: function () {
                    addOrEdit();
                    return false;
                }
            },
            {
                id: 'back',
                className: 'btn-back',
                name: '取消',
                callback: function () {
                    cancel();
                    return false;
                }
            }
        );
        cur.type = $("#opt_type").val();

        var nodeN, node = cur.treeObj.getNodeByParam("id", cur.treeId, null);
        if (cur.type == 'add') {
            nodeN = {id: '', tempType: node.tempType, tempTypeName: node.tempTypeName, parentId: node.id, tempName: ''};
        } else {
            nodeN = {id: node.id, tempType: node.tempType, tempTypeName: node.tempTypeName, parentId: node.pid, tempName: node.name};
        }
        setData(nodeN);
    })

    //拉取数据
    function setData(data) {
        //所有数据格式遵循EOA的标准,或看data1.txt
        data = data;
        //定义唯一ID，和页面上的 ms-controller 相同
        data.$id = cur.id;

        //绑定模型
        cur.vm = avalon.define(data);

        //扫描模型
        avalon.scan($("#" + cur.id).get(0), cur.vm);

    }

    function addOrEdit() {

        if (!$('#tpl_form').isValid()) {
            return;
        }

        var url = "";

        if (cur.type == 'add') {
            url = "/tpl/save";
        } else {
            url = "/tpl/update";
        }

        cur.node = cur.vm.$model;
        Ls.ajaxGet({
            url: url,
            data: {
                id: cur.node.id,
                name: cur.node.tempName,
                tempType: cur.node.tempType,
                type: cur.node.tempType == "special" ? "special" : "Real",
                pid: cur.node.parentId,
                siteId: GLOBAL_SITEID
            },
            success: function (resp) {
                if (resp.status == '1') {
                    if (resp.data != null) {
                        if (Ls.isArray(resp.data)) {
                            cur.win.cur.node_edit = resp.data[0];
                        } else {
                            cur.win.cur.node_edit = resp.data;
                        }
                    }
                    cur.win.callback_editTpl();
                    Ls.winClose();
                } else {
                    Ls.tips(resp.desc, {icons: 'error', times: 2});
                }
            }
        });
    }

    function cancel() {
        Ls.winClose();
    }
</script>
</body>
</html>