<div class="portlet light">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row" style="margin-right: 0px;">
                <form class="form-inline tr search-toolbar" role="form">
                    <select name="organId" class="form-control">
                        <option value="">请选择单位</option>
                        #foreach($organ in $organList)
                            <option value="$!{organ.organId}">$!{organ.name}</option>
                        #end
                    </select>
                    <select class="form-control w160" name="warningType">
                        <option value="">请选择警示类型</option>
                        <option value="YELLOW_CARD_WARNING">黄牌警示</option>
                        <option value="RED_CARD_WARNING">红牌警示</option>
                    </select>
                    <input type="datetime" id="startLastPublishDate" name="startLastPublishDate"
                           class="form-control w160"
                           placeholder="开始时间"
                           onClick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endLastPublishDate\')||\'%y-%M-%d %H:%m:%s\'}'})"/>
                    <input type="datetime" id="endLastPublishDate" name="endLastPublishDate" class="form-control w160"
                           placeholder="结束时间"
                           onClick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startLastPublishDate\')}',maxDate:'%y-%M-%d %H:%m:%s'})"/>
                    <button type="button" class="btn btn-default btn-search" onclick="searchByCondition(this.form)">
                        查询
                    </button>
                    <button type="button" class="btn btn-default" onclick="searchClear(this.form)">重置</button>
                    <button type="button" class="btn btn-default btn-export" onclick="exportByCondition(this.form)">
                        导出
                    </button>
                    #*<button type="button" class="btn btn-default btn-export" onclick="restartRun()">重新检测</button>*#
                </form>
            </div>
        </div>

        <div id="public_update_datagrid" class="mini-datagrid" style="width:100%;" allowResize="true"
             allowCellSelect="false"
             onlyCheckSelection="true" sizeList="[20,30,50]" pageSize="20" idField="id" multiSelect="true"
             url="/public/catalogUpdate/getPage">
            <div property="columns">
                <div type="indexcolumn" width="40" headerAlign="center" allowSort="flase" align="center">序号</div>
                <div field="organName" width="160" headerAlign="center" allowSort="flase" align="center">单位名称</div>
                <div field="catName" width="100%" headerAlign="center" allowSort="flase" align="left">目录名称</div>
                <div field="warningTypeName" width="100" headerAlign="center" allowSort="flase" align="center">警示类型
                </div>
                <div field="lastPublishDate" width="140" headerAlign="center" allowSort="flase" align="center"
                     dateFormat="yyyy-MM-dd HH:mm:ss">最后更新日期
                </div>
                <div field="message" width="280" headerAlign="center" allowSort="flase" align="center">警示消息</div>
            </div>
        </div>
    </div>
</div>
<script>
    var cur = {
        public_update_datagrid: null//datagrid
    }

    function searchByCondition(form) {
        var json = $(form).serializeObject();
        cur.public_update_datagrid.load(json);
    }

    function searchClear(form) {
        $(form)[0].reset();
        cur.public_update_datagrid.load();
    }

    function exportByCondition(form) {
        var json = $(form).serializeObject();
        var params = [];
        for (var key in json) {
            params.push(key + "=" + json[key]);
        }
        $('#download_frame').attr("src", "/public/catalogUpdate/export?" + params.join("&"));
    }

    function restartRun() {
        Ls.ajaxGet({
            url: "/public/catalogUpdate/run"
        }).done(function (d) {
            Ls.tipsInfo("后台正在检测，请稍后。");
        });
    }

    $(document).ready(function () {
        //初始化布局
        mini.parse();
        // 获取datagrid
        cur.public_update_datagrid = mini.get("public_update_datagrid");
        cur.public_update_datagrid.reload();
        // 重置 datagrid 高度
        Ls.mini_datagrid_height(cur.public_update_datagrid);
    });
</script>