<div class="portlet light">
    <!--<div class="portlet-title">
      <div class="caption font-grey-silver">
        <span class="caption-subject bold uppercase">用户列表</span>
      </div>
      <div class="tools"></div>
    </div>-->
    <div class="portlet-body">

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-5">
                    <button class="btn btn-default btn-add" onclick="add()">添 加</button>
                    <button class="btn btn-default btn-add" onclick="editOne()">修 改</button>
                    <button class="btn btn-default btn-Enable" onClick="startMember('1')">启 用</button>
                    <button class=" btn btn-default btn-disabled" onclick="startMember('0')">禁 用</button>
                    <button class="btn btn-default btn-delete" onclick="del()">删 除</button>
##                    <button class="btn btn-default btn-export" onclick="exportExl('会员模板')">导入</button>
                </div>
                <div class="col-md-7">
                    <form class="form-inline tr search-toolbar" role="form">
                        <div class="form-group">
                            <input type="text" id="searchText" name="searchText" class="form-control" placeholder="请输入关键词...">
                        </div>
                        <select id="memberType" class="form-control w110"  placeholder="会员类型">
                            <option value="" >会员类型</option>
                            <option value="0">网站会员</option>
                            <option value="1">部门会员</option>
                        </select>
                        <button type="button" class="btn btn-default btn-search" onClick="search()">搜索</button>
                        <button type="button" class="btn btn-default btn-show-all" onClick="searchClear()">显示全部</button>
                    </form>

                </div>
            </div>
        </div>

        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:500px;" multiSelect="true"
             idField="id" sizeList="[15,30,45]" pageSize="15" allowCellSelect="false" onlyCheckSelection="true" onlyCheckSelection="true"
             url="/member/getPage">
            <div property="columns">
                <div type="checkcolumn" width="40"></div>
                <div field="uid" width="100" headerAlign="center" align="center" allowSort="false" renderer="renderUid">
                    会员登录名
                </div>
                <div field="name" width="100" headerAlign="center" align="center" allowSort="false">姓名</div>
                <div field="" width="130" headerAlign="center" align="center" allowSort="false" renderer="renderType">
                    会员类型
                </div>
                <div field="phone" width="120" headerAlign="center" align="center" allowSort="false">手机号</div>
                <div field="email" width="120" headerAlign="center" align="center" allowSort="false">邮箱</div>
                <div field="" width="80" headerAlign="center" align="center" allowSort="false" renderer="rendererCount">主题/回复</div>
                <div field="memberPoints" width="60" headerAlign="center"  align="center" allowSort="false">积分</div>
                <div field="createDate" width="140" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" align="center"
                     allowSort="false">创建日期
                </div>
                <div field="lastLoginDate" width="140" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" align="center"
                     allowSort="false">最后登录日期
                </div>
##                <div field="ip" width="120" headerAlign="center" align="center" allowSort="false">最后登录IP</div>
##                <div width="70" headerAlign="center" align="center" renderer="renderopt">操作</div>
            </div>
        </div>

    </div>
</div>
<script>
 
    var siteId = GLOBAL_SITEID;
    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load({dataFlag: 1,siteId:siteId});

    //重置 datagrid 高度
    Ls.mini_datagrid_height(grid);

    //描述
    function renderopt(e) {
        var str = "";
        var rec = e.record;
        var editStr = '<button class="btn btn-default btn-sm btn-update" onclick="edit(' + rec.id + ')">修 改</button> ';
        return editStr;
    }

    function rendererCount(e){
        var rec = e.record,postCount = rec.postCount,replyCount = rec.replyCount;
        return postCount+"/"+replyCount;
    }
    //标题列
    function renderUid(e) {
        var rec = e.record, status = '', strTitle = '';
        if (rec.status == '0') {
            status = " <font style='color:red'>[禁]</font>";
        }
        if (rec.status == '0') {
            strTitle = "<a onclick='edit(" + rec.id + ")' style='color:blue;text-decoration:line-through;'>" + rec.uid + "</a>" + status;
        } else {
            strTitle = "<a onclick='edit(" + rec.id + ")' style='color:blue;'>" + rec.uid + "</a>" + status;
        }
        return strTitle;
    }

    //会员类型列
    function renderType(e) {
        var rec = e.record, memberType = '';
        if (rec.memberType == '0') {
            memberType = " <font style='color:red'>[网站会员]</font>";
        }else if(rec.memberType == '1'){
            if(rec.unitName!=null){
                memberType = " <font style='color:blue'>["+rec.unitName+"]</font>";
            }
        }
        return memberType;
    }

    // 删除
    var del = function () {
        var ids = getIDS();
        if (ids == null || ids.length <= 0) {
            Ls.tipsErr("请选择数据！")
            return;
        }
        ids = ids.join(",");
        if (confirm("您确定要删除选中的记录吗?")) {
            Ls.ajaxGet({
                url: "/member/delete",
                data: {
                    ids: ids
                },
                success: function (text) {
                    Ls.tipsOk("删除成功！")
                    grid.reload();
                    grid.deselectAll(true);
                }
            });
        }
    }

    function startMember(status) {
        var ids = getIDS();
        if (ids == null || ids.length <= 0) {
            Ls.tipsInfo("请选择数据！")
            return;
        }
        ids = ids.join(",");
        Ls.ajaxGet({
            url: "/member/updateStatus",
            data: {
                ids: ids,
                status: status
            },
            success: function (text) {
                Ls.tipsOk("操作成功！")
                grid.reload();
                grid.deselectAll(true);
            }
        });
    }

    //新增服务
    var add = function () {
        Ls.openWin("/member/edit?siteId="+siteId, "800px", "450px", {
            type: 2,
            title: '新增',
            maxmin: false,
            close: function () {
                grid.reload();
            }
        });
    }

   var editOne = function(){
       var rows = grid.getSelecteds();
       var ids = [];
       if(rows.length == 0){
           Ls.tipsErr("请选择会员！")
           return;
       }
       if(rows.length > 1){
           Ls.tipsErr("修改只能选择一项！")
           return;
       }
       edit(rows[0].id)
   }

    //修改
    var edit = function (id) {
        Ls.openWin("/member/edit?id="+id+"&siteId="+siteId, "800px", "450px", {
            type: 2,
            title: '编辑',
            maxmin: false,
            close: function () {
                grid.reload();
            }
        });
    };

    //清除条件
    var search = function () {
        var searchText = $("#searchText").val();
        var memberType = $("#memberType").val();
        grid.load({searchText: searchText,memberType:memberType,dataFlag: 1,siteId:siteId});
    }

    var searchClear = function () {
        $("#searchText").val("");
        $("#memberType").val("");
        grid.load({dataFlag: 1,siteId:siteId});
    }

    //循环选中的行
    function getIDS() {
        var rows = grid.getSelecteds();
        var ids = [];
        for (i = 0; i < rows.length; i++) {
            ids.push(rows[i].id);
        }
        return ids;
    }

    function exportExl(name) {
      //  var treeNode = cur.ztree.getNodeByParam("id", pid, null);
        Ls.openWin("/organ/unitMemberExport?name="+name, "500px", "200px", {
            type: 2,
            title: '会员导入',
            maxmin: false,
            close:  function () {
                grid.reload();
            }
        });
    }

</script>