<style>
    .ui-state-highlight {
        background: #F0F0EE;
        border: dotted #00a2d4 1px;
    }

    .lsui-icon-move {
        height: 20px;
        width: 20px;
        overflow: hidden;
        display: inline-block;
        background: url('/assets/design/static/css/imgs/move.png') center center no-repeat;
    }

    .ls-listtable {
        height: 290px;
        overflow: hidden;
    }

    .ls-listtable-inner {
        height: 270px;
        overflow-y: scroll;
    }

    /*.sui-form.form-horizontal .control-label{width:50px;}*/

</style>
<form id="attrForm" class="sui-form form-horizontal sui-validate pd10">

    <div class="sui-row-fluid">
        <div class="span6">
            <fieldset>
                <legend>组件设置</legend>

                <sui-control-group>
                    <sui-checkbox v-model="conf.isMore">显示更多</sui-checkbox>
                </sui-control-group>

                <sui-control-group title="触发">
                    <sui-radio-group v-model="conf.toggle">
                        <sui-radio label="tab">点击</sui-radio>
                        <sui-radio label="mouse">移入</sui-radio>
                    </sui-radio-group>
                </sui-control-group>

                <sui-control-group title="大小">
                    宽
                    <sui-input size="mini" v-model="conf.width" rules="required|digits|gt=49|lt=2001"
                               errmsg="大于等于50且小于2000的整数"></sui-input>
                    - 高
                    <sui-input size="mini" v-model="conf.height" rules="required|digits|gt=49|lt=2001"
                               errmsg="大于等于50且小于2000的整数"></sui-input>
                    <span class="sui-msg msg-info">(单位:像素)</span>
                </sui-control-group>

                <sui-control-group title="内间距">
                    <sui-input v-model="conf.panelPadding" rules="required|digits|gt=-1|lt=500" errmsg="大于等于0且小于500的整数"
                               size="mini"></sui-input>
                    <span class="sui-msg msg-info">(单位:像素)</span>
                </sui-control-group>

                <!--<sui-control-group title="标题高度" v-if="conf.isTitle">-->
    <!--<sui-input v-model="conf.panelHeadingHeight" rules="required|digits|gt=-1|lt=500"  errmsg="大于等于0且小于500的整数" size="mini" > </sui-input>-->
    <!--<span class="sui-msg msg-info">(单位:像素)</span>-->
<!--</sui-control-group>-->

<sui-control-group title="">
    <sui-checkbox v-model="conf.isCustomPBH">自定义内容高度</sui-checkbox>
</sui-control-group>
<sui-control-group title="内容高度" v-if="conf.isCustomPBH">
    <sui-input v-model="conf.panelBodyHeight" rules="required|digits|gt=-1|lt=5000"  errmsg="大于等于0且小于5000的整数" size="mini" > </sui-input>
    <span class="sui-msg msg-info">(单位:像素)</span>
</sui-control-group>

<sui-control-group title="组件样式" v-if="isStyleList">
    <sui-dropdown v-model="conf.className" @on-target-change="onStyleListChange"
                  :items="styleList">
    </sui-dropdown>
</sui-control-group>

            </fieldset>

            <fieldset>
                <legend>头条设置</legend>

                <sui-control-group title="标题字数">
                    <sui-input size="input-medium" v-model="conf.headline.length" maxlength="3" rules="required|digits|gt=0"
                               errmsg="大于0的整数"></sui-input>
                </sui-control-group>

                <sui-control-group title="摘要字数">
                    <sui-input size="input-medium" v-model="conf.headline.noteLength" maxlength="3" rules="required|digits|gt=0"
                               errmsg="大于0的整数"></sui-input>
                </sui-control-group>

                <sui-control-group title="摘要来源">
                    <sui-radio-group v-model="conf.headline.showType">

                        <sui-radio label="0">调用摘要</sui-radio>
                        <sui-radio label="1">调用内容</sui-radio>
                    </sui-radio-group>
                </sui-control-group>

                <sui-control-group title="链接打开方式">
                    <sui-dropdown v-model="conf.headline.target" @on-target-change="onTargetChange1"
                                  items="[{text:'新窗口',value:'_blank'},{text:'当前页',value:'_self'}]">
                    </sui-dropdown>
                </sui-control-group>

                <sui-control-group title="">
                    <sui-checkbox v-model="conf.headline.isDetailed">显示摘要</sui-checkbox>
                </sui-control-group>

                <sui-control-group title="显示详细链接" v-show="conf.headline.isDetailed">
                    <sui-input size="large" v-model="conf.headline.detailed" maxLength="10"
                               placeholder="留空显示“【详细】”"></sui-input>
                </sui-control-group>

            </fieldset>

            <fieldset>
                <legend>内容设置</legend>
                <sui-control-group title="链接打开方式">
                    <sui-dropdown v-model="conf.target" @on-target-change="onTargetChange"
                                  items="[{text:'新窗口',value:'_blank'},{text:'当前页',value:'_self'}]">
                    </sui-dropdown>
                </sui-control-group>

                <sui-control-group title="调用条数">
                    <sui-input size="mini" v-model="conf.num" rules="required|digits|gt=1|lt=50"
                               errmsg="大于1且小于50的整数"></sui-input>
                    条
                </sui-control-group>

                <sui-control-group title="显示字数">
                    <sui-input size="input-medium" v-model="conf.textLen" maxlength="3" rules="required|digits|gt=0"
                               errmsg="大于0的整数"></sui-input>
                </sui-control-group>


            </fieldset>

        </div>

        <div class="span6">

            <div class="control-group">
                <div class="controls">
                    <a href="javascript:void(0);" class="sui-btn btn-primary" v-on:click="add">添加</a>
                    <a href="javascript:void(0);" class="sui-btn btn-primary"
                       v-on:click="associateNode">添加关联栏目</a>
                </div>
            </div>

            <div class="ls-listtable">
                <table class="sui-table table-bordered" style="margin-bottom: 0;">
                    <thead>
                    <tr>
                        <th style="width:50px;">排序</th>

                        <th>名称</th>
                        <th>关联栏目</th>
                        <th style="width:60px;">操作</th>
                    </tr>
                    </thead>

                    <tbody id="attrFormTBody">
                    <tr v-for="(el, index) in conf.tabs" v-bind:id="'tr_'+ index">
                        <td class="tc">
                            <a href="javascript:;" v-if="index>0" v-on:click="moveUp(index)" title="向下移动">
                                <i class="sui-icon icon-arrow-fat-up"></i></a>
                            <a href="javascript:;" v-if="index < (conf.tabs.length -1)" v-on:click="moveDown(index)"
                               title="向下移动">
                                <i class="sui-icon icon-arrow-fat-down"></i></a>
                        </td>

                        <td>
                            <input type="text" class="input-medium" data-rules="required" v-model="el.name">
                        </td>
                        <td style="text-align: center">
                            <a href="javascript:void(0);" class="sui-btn  btn-small"
                               v-bind:class="[label[el.dataId].label2.id > 0 ? 'btn-success' : 'btn-bordered' ]"
                               v-on:click="associateNode(index)">关联</a>
                        </td>

                        <td style="text-align: center; ">
                            <a href="javascript:void(0);" class="sui-btn btn-bordered btn-small btn-danger"
                               v-on:click="remove(index)" v-if="index > 0">删除</a>

                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <!--ls-listtable-->
        </div>

    </div>

</form>