.mini_icon_add{
	background:url(icons/add.gif) no-repeat;
}
.mini_icon_addnew{
	background:url(icons/addnew.gif) no-repeat;
}
.mini_icon_edit{
	background:url(icons/edit.gif) no-repeat;
}
.mini_icon_remove{
	background:url(icons/remove.gif) no-repeat;
}
.mini_icon_save{
	background:url(icons/save.gif) no-repeat;
}
.mini_icon_close{
	background:url(icons/cancel.gif) no-repeat;
}
.mini_icon_cut{
	background:url(icons/cut.png) no-repeat;
}
.mini_icon_ok{
	background:url(icons/ok.png) no-repeat;
}
.mini_icon_no{
	background:url(icons/no.png) no-repeat;
}
.mini_icon_cancel{
	background:url(icons/cancel.gif) no-repeat;
}
.mini_icon_reload{
	background:url(icons/reload.png) no-repeat;
}
.mini_icon_search{
	background:url(icons/search.gif) no-repeat;
}
.mini_icon_print{
	background:url(icons/print.gif) no-repeat;
}
.mini_icon_help{
	background:url(icons/help.gif) no-repeat;
	
}
.mini_icon_undo{
	background:url(icons/undo.gif) no-repeat;
}
.mini_icon_redo{
	background:url(icons/redo.gif) no-repeat;
}
.mini_icon_tip{
	background:url(icons/tip.png) no-repeat;
}
.mini_icon_zoomin{
	background:url(icons/zoomin.gif) no-repeat;
}
.mini_icon_zoomout{
	background:url(icons/zoomout.gif) no-repeat;
}
.mini_icon_goto{
	background:url(icons/goto.gif) no-repeat;
}
.mini_icon_date{
	background:url(icons/date.gif) no-repeat;
}
.mini_icon_filter{
	background:url(icons/filter.gif) no-repeat;
}
.mini_icon_find{
	background:url(icons/find.png) no-repeat;
}
.mini_icon_folder{
	background:url(icons/folder.gif) no-repeat;
}
.mini_icon_folderopen{
	background:url(icons/folder-open.gif) no-repeat;
}
.mini_icon_lock{
	background:url(icons/lock.png) no-repeat;
}
.mini_icon_unlock{
	background:url(icons/unlock.gif) no-repeat;
}
.mini_icon_new{
	background:url(icons/new.gif) no-repeat;
}
.mini_icon_node{
	background:url(icons/node.png) no-repeat;
}

.mini_icon_copy{
	background:url(icons/copy.png) no-repeat;
}
.mini_icon_share{
	background:url(icons/share.png) no-repeat;
}
.mini_icon_import{
	background:url(icons/import.png) no-repeat;
}
.mini_icon_import1{
	background:url(icons/import1.png) no-repeat;
}
.mini_icon_import2{
	background:url(icons/import2.png) no-repeat;
}

.mini_icon_export1{
	background:url(icons/export1.png) no-repeat;
}
.mini_icon_export2{
	background:url(icons/export2.png) no-repeat;
}
.mini_icon_export3{
	background:url(icons/export3.png) no-repeat;
}

.mini_icon_add6{
	background:url(icons/add6.png) no-repeat;
}
.mini_icon_import6{
	background:url(icons/import6.png) no-repeat;
}
.mini_icon_export6{
	background:url(icons/export6.png) no-repeat;
}
.mini_icon_move6{
	background:url(icons/move6.png) no-repeat;
}
.mini_icon_nowait{
	background:url(icons/nowait.gif) no-repeat;
}
.mini_icon_sort{
	background:url(icons/sort.gif) no-repeat;
}
.mini_icon_wait{
	background:url(icons/wait.gif) no-repeat;
}
.mini_icon_upgrade{
	background:url(icons/upgrade.gif) no-repeat;
}
.mini_icon_downgrade{
	background:url(icons/downgrade.gif) no-repeat;
}
.mini_icon_download{
	background:url(icons/download.gif) no-repeat;
}
.mini_icon_upload{
	background:url(icons/upload.gif) no-repeat;
}
.mini_icon_user{
	background:url(icons/user.png) no-repeat;
}
.mini_icon_split{
	background:url(icons/split.gif) no-repeat;
}
.mini_icon_addfolder{
	background:url(icons/addfolder.gif) no-repeat;
}

.mini_icon_expand{
	background:url(icons/expand.gif) no-repeat;
}
.mini_icon_collapse{
	background:url(icons/collapse.gif) no-repeat;
}
