<div id="ui_layout" class="mini-layout" style="width:100%;height:100%;">
    <div region="center" style="border:none; overflow: auto;">

        <div class="portlet light">
            <!--<div class="portlet-title">
              <div class="caption font-grey-silver">
                <span class="caption-subject bold uppercase">用户列表</span>
              </div>
              <div class="tools"></div>
            </div>-->
            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="row"><div class="col-md-7"><button id="article_news_add" type="button"  class="btn btn-default btn-sm btn-edit" onclick="edit('')"> 添 加</button>
                        <button  id="butonDel"  type="button" class="btn btn-default btn-sm btn-delete" onclick="delMsg()">奖品删除</button>
                    </div>
                        <div class="col-md-5">
                            <form class="form-inline tr search-toolbar" role="form">

                            </form>

                        </div>
                    </div>
                </div>

                <div id="datagrid1" class="mini-datagrid" style="width:100%;height:700px;" onPageChanged="onPageChanged"
                     allowResize="true" allowCellSelect="false" onlyCheckSelection="true" url="/lotteryReward/getLotteryRewardList" sizeList="[20,30,50]" pageSize="20"
                     idField="id" multiSelect="true">
                    <div property="columns">
                        <div type="checkcolumn"></div>
                        <div field="rewardName" width="140" headerAlign="center" allowSort="false" align="center">奖品昵称</div>
                        <div field="rewardPrice" width="50" headerAlign="center" allowSort="flase"  align="center" >价格</div>
                        <div field="typeName" width="50" headerAlign="center" allowSort="flase"  align="center" >奖品类别</div>
##                        <div field="count" width="50" headerAlign="center" allowSort="flase"  align="center" >奖品数量 </div>

                        <div field="createDate" width="150" headerAlign="center" allowSort="flase" align="center" dateFormat="yyyy-MM-dd HH:mm:ss" >创建时间</div>
                        <div field="" width="105" headerAlign="center" allowSort="true" renderer="renderOp" align="center">操作</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">


    cmm = {
        dataFlag: 1,
        siteId: GLOBAL_SITEID,

    }
    var grid;


    $(document).ready(function () {
        mini.parse();
        grid = mini.get("datagrid1");
        grid.load(cmm);

        //重置 datagrid 高度
        Ls.mini_datagrid_height(grid);

    })








    //操作加载
    function renderOp(e) {
        var rec = e.record;

        var str='<button   class=" btn btn-default btn-sm btn-edit" onclick="edit(' + rec.rewardId + ')"> 编辑 </button> ';
        return str;
    }

    function renderChance(e){
        var value = e.value;
        return value+"%";
    }

    function edit(rewardId) {
        Ls.openWin("/lotteryReward/editReward?rewardId="+rewardId, {
            width: '550px',
            height: '350px',
            lock: true,
            title: '编辑',
        });

    }





    //    function search() {
    //        var name = $("#searchKey").val();
    //        var createDate = $("#createDate").val();
    //        grid.load({nickname: name, dataFlag: 1,createDate:createDate});
    //    }

    //    //清除条件
    //    searchClear = function () {
    //        $("#searchKey").val("")
    //        $("#createDate").val("")
    //        grid.load({dataFlag: 1});
    //    }
    //    function onKeyEnter(e) {
    //        search();
    //    }



    function delMsg(){
        var ids=getIDS();
        if(ids==''||ids.length<=0){
            Ls.tipsInfo("请选择待删除项");
            return;
        }

        if(confirm("确定删除吗？")){
            Ls.ajax({
                type: "POST",
                data: {'ids':ids},
                url: "/lotteryReward/delLotteryReward",
                success: function (text) {
                    if(text.status==0){
                        Ls.tipsErr(text.desc);
                        return;
                    }
                    Ls.tipsOk("删除成功");
                    Ls.getWin.win.grid.reload();

                }
            })

        }






    }


    function getIDS() {
        var rows = grid.getSelecteds();
        var ids = [];
        for (i = 0; i < rows.length; i++) {
            ids.push(rows[i].rewardId);
        }
        ids = ids.join(",");
        return ids;
    }


</script>