#parse("_page_layout/_header.vm")
</head>
<body class="page-body-white">
<div id="ui_layout" class="mini-layout" style="width:100%;height:100%;">
    <div region="center" style="border:none; overflow: auto;">
        <div>
            <img id="pic" src=""/>
        </div>
    </div>
</div>
    #parse("_page_layout/_footer.vm")
<script>
    $(document).ready(function () {
        mini.parse();
        var value = parent.cur.vm.$model;

        Ls.ajax({
            url: "/waterMark/preview",
            data: value,
        }).done(function (data) {
            if (!data.status) {
                Ls.tipsErr(data.desc);
            } else {
                $("#pic").attr("src", (data.data.mongoId.indexOf(".") != -1 ? '$!{fileServerNamePath}' : '$!{fileServerPath}') + data.data.mongoId);
            }
        });
    });


</script>
</body>