#parse("_page_layout/_header.vm")
<body class="page-body-white" style=" overflow: auto;">
<style>
    .tr_b {
        border: 2px solid green;
    }

    .tr_bt {
        border-bottom: 1px solid #e7ecf1;
        background: #FFF;
    }

    .wx-resource {
        border: solid 1px #CCCCCC;
    }

    .wx-resource ul li {
        list-style: none;
    }

    .wx-resource .big {
        position: relative;
    }

    .wx-resource .big .img {
        width: 290px;
        height: 90px;
        position: absolute;
        z-index: 1;
        left: 0px;
    }

    .wx-resource .big > div {
        position: absolute;
        z-index: 2;
        bottom: 0px;
        left: 0px;
    }

    .rowsWarp {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
    }

    .rows {
        width: 34px;
    }

    .rows .fa {
        color: #828282;
    }

    .tr_bt:hover {
        background-color: #f3f4f6;
    }
</style>
<form id="pushForm">
    <table class="table table-bordered picture-table mt20">
        <tbody class="w100p">
        <tr>
            <th style="width:140px;">标 题：</th>
            <td><input type="text" name="title" id="title" ms-duplex="" class="form-control w320" placeholder=""></td>
            <td></td>
        </tr>
        <tr>
            <th>发送对象：</th>
            <td>
                <select id="groupId" class="form-control w320">
                    <option value="-1">全部</option>
                    #foreach($tp in ${UGROUP})
                        <option value="$!tp.groupid">$!tp.name</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <th>类 型：</th>
            <td>
                <div>
                    <label class="radio-inline">
                        <input type="radio" onclick="goView()" id="viewType" name="type" value="1"
                               ms-duplex="">文本</input>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" onclick="goKey()" id="urlType" name="type" value="2" ms-duplex="">图文</input>
                    </label>
                    <input type="button" class="btn btn-default btn-add" onclick="goKey1()" style="padding: 3px 9px;margin-left: 5px;" value="选择图片">
                </div>

            </td>
        </tr>
        <tr class="hide" id="w_content">
            <th>内 容：</th>
            <td>
                <textarea class="form-control" id="msgContent" name="msgContent"
                          style="width: 90%;height:200px; visibility: visible;"></textarea>
            </td>
        </tr>
        <tr class="hide" id="w_text">
            <th>图 文：</th>
            <td>
                <div style="width:310px;/*background-color:#F5F5F5;*/" id="">
                    <table align="center" width="300">
                        <tbody id="article">

                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</form>
</body>
#parse("_page_layout/_footer.vm")
<script>
    var cmm = {}
    var _cmm = {}
    _cmm.news = [];
    cmm.artList = [];
    var indicate = 0;
    var id = "$!{ID}"
    $(document).ready(function () {
        $("#publishDate").val('$!{nowDate}');
        if (id != null && id != "") {
            Ls.ajaxGet({
                data: {
                    id: id
                },
                url: "/weChat/pushMsg/getMsg",
                success: function (text) {
                    if (text.status == 0) {
                        Ls.tipsErr("拉去数据失败");
                    } else {
                        cmm = text.data;
                        $("#title").val(cmm.title);
                        $("#publishDate").val(cmm.publishDate);
                        $("input[name=type][value='" + cmm.type + "']").attr("checked", 'checked');
                        $("#groupId").val(cmm.pushGroup);
                        if (cmm.type == "1") {
                            $("#w_content").removeClass("hide");
                            $("#w_text").addClass("hide");
                            cmm.artList = [];
                        } else {
                            $("#w_text").removeClass("hide");
                            $("#w_content").addClass("hide");
                            _cmm.news = cmm.newsList;
                            initNews(cmm.newsList);
                            cmm.newsList = "";
                        }
                        $("#msgContent").val(cmm.msgContent);
                    }
                }
            });
        } else {
            $("#viewType").attr("checked", true);
            var type = $("input:radio[name='type']:checked").val();
            if (type == 1) {
                $("#w_content").removeClass("hide");
            } else {
                $("#w_text").removeClass("hide");
            }

        }
    })

    function goView() {
        $("#w_content").removeClass("hide");
        $("#w_text").addClass("hide");
    }

    function goKey() {
        $("#w_text").removeClass("hide");
        $("#w_content").addClass("hide");
        Ls.getWin.dialog.data('listArr', cmm.artList);
        Ls.openWin("/weChat/mateMgr/mateList", {
            width: '550px',
            height: '350px',
            lock: true,
            id: 212111,
            title: '素材列表',
        });
    }

    function goKey1() {
        $('#urlType').click();
    }

    var pushForm = $('#pushForm');
    pushForm.validator({
        fields: {
            'title': '标题不能为空:required;length[1~100]',
        },
        valid: function () {
            saveEdit();
        }
    })

    function saveEdit() {
        cmm.title = $("#title").val();
        cmm.type = $("input:radio[name='type']:checked").val();
        cmm.publishDate = $("#publishDate").val();
        cmm.msgContent = $("#msgContent").val();
        cmm.pushGroup = $("#groupId").val();
        if (cmm.type == 2) {
            if (cmm.artList == '') {
                Ls.tipsInfo("图文消息的图文不能为空");
                return;
            }
        } else if (cmm.type == 1) {
            if (cmm.msgContent.length <= 0 || Ls.strLen(cmm.msgContent) > 2000) {
                Ls.tipsInfo("消息内容字节数在0~2000之间");
                return;
            }
        }

        Ls.ajax({
            data: cmm,
            url: "/weChat/pushMsg/saveMsg",
            success: function (text) {
                if (text.status == 0) {
                    Ls.tipsErr("保存失败：" + text.desc);
                } else {
                    Ls.tipsOk("保存成功", function () {
                        Ls.getWin.win.grid.reload();
                        Ls.winClose();
                    });
                }
            }
        });
    }

    function uploadPic() {
        Ls.uploadFile(function (data) {
            if (data != null && data.length > 0) {
//                mongoId = data[0].mongoId;
//                $("#thumbImg").attr("src", GLOBAL_FILESERVERPATH + mongoId);
//                cmm.thumbImg = mongoId;
                $("#thumbImg").attr("src", GLOBAL_FILESERVERNAMEPATH + data[0].fileName);
                cmm.thumbImg = data[0].fileName;
            }
            return true;
        }, {
            file_size_limit: "1MB",
            file_types: "*.png;*.jpg;*.jpeg;*.gif",
            file_upload_limit: 1,
            post_params: {
                "type": "NotDefined"
            }
        })
    }

    function initGroup() {
        Ls.ajax({
            url: "/weChat/userMgr/getGroups",
            success: function (text) {
                if (text.status == 1) {
                    var gp = text.data;
                    var htm = '<option value="">全部</option>';
                    for (var i = 0; i < gp.length; i++) {
                        htm += '<option value="' + gp[i].groupid + '">' + gp[i].name + '</option>';
                    }
                    $("#groupId").html(htm);
                } else {
                    Ls.tipsErr("初始化分组失败");
                }
            }
        });
    }


    var dialog = art.dialog, W = dialog.parent, api = dialog.open.api;
    if (!api) {
        document.getElementById("content").style.display = 'none';
        alert('不可单独打开上传页面！');
    } else {

        $(document).ready(function () {
            api.button(
                    {
                        name: '保 存',
                        callback: function () {
                            pushForm.submit();
                            return false;
                        },
                        focus: true
                    }
            )
        })
    }

    function initNews(articles) {
        indicate = 0;
        cmm.artList = [];
        var list = '';

        for (var i = 0; i < articles.length; i++) {
            cmm.artList.push(articles[i].id);
            if (indicate == 0) {
                list += '<tr class="tr_bt" id="tr_' + indicate + '"  onMouseOver="mouseOver(' + indicate + ')" onMouseOut="mouseOut(' + indicate + ')" style="height:100px;">' +
                        '<td title="拖动改变排序" class="rowsWarp" data-id="'+ articles[i].id +'">\n' +
                        '            <div class="rows text-center">\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ articles[i].id +',\'up\')"><i class="fa fa-long-arrow-up"></i></a>\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ articles[i].id +',\'down\')"><i class="fa fa-long-arrow-down"></i></a>\n' +
                        '            </div>\n' +
                        '        </td>' +
                        '<td title="点击移除" colspan="2" style="cursor:pointer;" onclick="removeNews(' + indicate + ')"><div style="margin:5px;position:relative;"><img width="290" height="90" src="' + formatImgAddress(articles[i].thumbImg) + '"/>' +
                        '<div style="width:290px;opacity:0.8;position:absolute;z-index:999;bottom:0px;background-color:gray;color:white;height:auto"> ' + articles[i].title + '</div></div></td></tr>';
                indicate++;
            } else {
                list += '<tr title="点击移除" class="tr_bt" id="tr_' + indicate + '"  onMouseOver="mouseOver(' + indicate + ')" onMouseOut="mouseOut(' + indicate + ')">' +
                        '<td title="拖动改变排序" class="rowsWarp" data-id="'+ articles[i].id +'">\n' +
                        '            <div class="rows text-center">\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ articles[i].id +',\'up\')"><i class="fa fa-long-arrow-up"></i></a>\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ articles[i].id +',\'down\')"><i class="fa fa-long-arrow-down"></i></a>\n' +
                        '            </div>\n' +
                        '        </td>' +
                        '<td title="点击移除" style="width:220px;" style="cursor:pointer;" onclick="removeNews(' + indicate + ')"><div style="margin-left:20px">' + articles[i].title + '</div></td><td style="width:80px;"><div style="margin:5px"><img width="80" height="65" src="' + formatImgAddress(articles[i].thumbImg) + '"/></div></td></tr>';
                indicate++;
            }
        }

        $("#article").html(list).sortable({
            items: '>tr',
            axis: "y",
            cursor: "move",
            handle: ".rowsWarp",
            helper: function (e, ui) {
                $(ui).css({
                    'width': '360px',
                    'height': '76px'
                })
                return ui;
            },
            connectWith: ">tbody",
            forcePlaceholderSize: true,
            placeholder: 'must-have-class',
            update: function (e, ui) {
                updateList();
            }
        });
    }

    function formatImgAddress(src) {
        if (src == undefined || src == null) {
            return "";
        }
        if (src.indexOf("/") != -1) {
            return src;
        }
        if (src.indexOf(".") != -1) {
            return GLOBAL_FILESERVERNAMEPATH + src;
        }
        return GLOBAL_FILESERVERPATH + src;
    }


    function getNews(e) {
        var rec = e.record;
        if (cmm.artList.indexOf(e.record.id) == -1) {
            _cmm.news.push(rec);
            cmm.artList.push(e.record.id);
            var list = '';

            if (indicate == 0) {
                list += '<tr class="tr_bt" id="tr_' + indicate + '"  onMouseOver="mouseOver(' + indicate + ')" onMouseOut="mouseOut(' + indicate + ')" style="height:100px;">' +
                        '<td title="拖动改变排序" class="rowsWarp" data-id="'+ e.record.id +'">\n' +
                        '            <div class="rows text-center">\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ e.record.id +',\'up\')"><i class="fa fa-long-arrow-up"></i></a>\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ e.record.id +',\'down\')"><i class="fa fa-long-arrow-down"></i></a>\n' +
                        '            </div>\n' +
                        '        </td>' +
                        '<td title="点击移除" colspan="2" style="cursor:pointer;" onclick="removeNews(' + indicate + ')"><div style="margin:5px;position:relative;"><img width="290" height="90" src="' + formatImgAddress(rec.thumbImg) + '"/>' +
                        '<div style="width:290px;opacity:0.8;position:absolute;z-index:999;bottom:0px;background-color:gray;color:white;height:auto"> ' + rec.title + '</div></div></td></tr>';
                indicate++;
            } else if (indicate > 0 && indicate < 9) {
                list += '<tr title="点击移除" class="tr_bt" id="tr_' + indicate + '"  onMouseOver="mouseOver(' + indicate + ')" onMouseOut="mouseOut(' + indicate + ')">' +
                        '<td title="拖动改变排序" class="rowsWarp" data-id="'+ e.record.id +'">\n' +
                        '            <div class="rows text-center">\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ e.record.id +',\'up\')"><i class="fa fa-long-arrow-up"></i></a>\n' +
                        '                <a href="javascript:;" onclick="contentSort(event,'+ e.record.id +',\'down\')"><i class="fa fa-long-arrow-down"></i></a>\n' +
                        '            </div>\n' +
                        '        </td>' +
                        '<td title="点击移除" style="width:220px;" style="cursor:pointer;" onclick="removeNews(' + indicate + ')"><div style="margin-left:20px">' + rec.title + '</div></td><td style="width:80px;"><div style="margin:5px"><img width="80" height="65" src="' + formatImgAddress(rec.thumbImg) + '"/></div></td></tr>';
                indicate++;
            } else {
                return "error";
            }
            $("#article").append(list);
            $("#newsList").val(cmm.artList)
        }
        return "ok";
    }


    function mouseOver(it) {
        /*$("#tr_" + it).removeClass("tr_bt");
        $("#tr_" + it).addClass("tr_b");*/
    }

    function mouseOut(it) {
        /*$("#tr_" + it).removeClass("tr_b");
        $("#tr_" + it).addClass("tr_bt");*/
    }

    Array.prototype.baoremove = function (dx) {
        if (isNaN(dx) || dx > this.length) {
            return false;
        }
        this.splice(dx, 1);
    }

    function removeNews(indicate) {
        _cmm.news.baoremove(indicate);
        cmm.artList.baoremove(indicate);
        initNews(_cmm.news);
    }

    function removeNewsById(id) {
        var index = cmm.artList.indexOf(id);
        removeNews(index);
    }

    function updateList() {
        cmm.artList = []
        $.each($('.rowsWarp'), function (i, v) {
            cmm.artList.push($(v).data('id'))
        })
    }

    function contentSort(e, id, opr) {
        var _this = $(e.target),
            wrap = _this.parents('.tr_bt'),
            prev = wrap.prev(),
            next = wrap.next();

        if (opr == 'up') {
            cmm.artList.indexOf(id) == 0 ? Ls.tipsInfo('已置顶') : prev.before(wrap);
        } else {
            cmm.artList.indexOf(id) == cmm.artList.length-1 ? Ls.tipsInfo('已是最后一项') : next.after(wrap);
        }

        updateList();
    }
</script>