<div class="list-wp">
        	<div class="nav-current">会员中心 > 会员注册</div>
            <div class="user-info">
                <table>
                    <tr>
                        <td class="label">注册账号：</td>
                        <td class="inpt td-username"><input type="text" id="uid" name="uid" maxlength="15"/></td>
                    </tr>
                    <tr>
                        <td class="label">姓<span class="s03"></span>名：</td>
                        <td class="inpt td-username"><input type="text" id="name" name="name" maxlength="15"/></td>
                    </tr>
					 <tr>
                        <td class="label">新密码：</td>
                        <td class="inpt td-password"><input type="password" id="newPw" name="newPw"  maxlength="30"/></td>
                    </tr>
                    <tr>
                        <td class="label">确认密码：</td>
                        <td class="inpt td-password"><input type="password" id="cfPw" name="cfPw"  maxlength="30"/></td>
                    </tr>
					<tr>
                        <td class="label">电子邮箱：</td>
                        <td class="inpt td-password"><input type="text" id="email" name="email" maxlength="30"/></td>
                    </tr>
                    <tr>
                        <td class="label">手机号码：</td>
                        <td class="inpt td-password"><input type="text" id="phone" name="phone" maxlength="11"/></td>
                    </tr>
					 <tr>
                        <td class="label">地<span class="s03"></span>址：</td>
                        <td class="inpt td-password"><input type="text" id="address" name="address"  maxlength="50"/></td>
                    </tr>
					<tr>
                        <td class="label">性<span class="s03"></span>别：</td>
                        <td class="inpt td-password">
							<input type="radio"  id="sex" name="sex" value="1" checked /> 男
							<input type="radio"  id="sex" name="sex" value="0"/> 女
						</td>
                    </tr>
					 <tr>
                        <td class="label">密码提示问题：</td>
                        <td class="inpt td-password"><input type="text" id="question" name="question"  maxlength="50"/></td>
                    </tr>
					 <tr>
                        <td class="label">密码提示答案：</td>
                        <td class="inpt td-password"><input type="text" id="answer" name="answer"  maxlength="50"/></td>
                    </tr>
					<tr>
            			<td class="label">验<span class="s01"></span>证<span class="s02"></span>码：</td>
            			<td class="inpt td-code">
            				<input class="verification" id="checkimg" size="6" maxlength="4" type="text">
            		  <img id="imgCode" class="hand" src="/member/getCode" width="82" height="31" title="看不清楚，换个图片" align="absmiddle">
                      </td>
            		</tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="sub" type="button" onclick="saveMember()" value="保存">
                        </td>
                    </tr>
                </table>
            </div>
 </div>
<script>
var validateSite = "$!{paramObj.validateSite}";
var siteId = "$!{resultObj.siteId}";
$(document).ready(function(e) {
	$("#imgCode").on('click',function(){
		var _this = $(this);
		_this.attr("src","/member/getCode?s="+Math.random());
	});
});
function saveMember() {
        var uid = $("#uid").val();
	    var name = $("#name").val();
		var newPw = $("#newPw").val();
		var cfPw = $("#cfPw").val();
		var sex = $("input[name='sex']:checked").val();
	    var phone = $("#phone").val();
		var email = $("#email").val();
	    var address = $("#address").val();
		var question = $("#question").val();
		var answer = $("#answer").val();
		var checkCode = $("#checkimg").val();
		if(uid == ''){
		   alert("注册账号不能为空！");
           return;
		}
		if(name == ''){
		   alert("姓名不能为空！");
           return;
		}
		if(newPw == ''){
		   alert("新密码不能为空！");
           return;
		}
		if(cfPw == ''){
		   alert("密码确认不能为空！");
           return;
		}else{
		   if(newPw != cfPw){
		    alert("密码确认不正确！");
            return;
		   }
		}
		if(phone == ''){
		   alert("手机号不能为空！");
           return;
		}
		if(email == ''){
		   alert("电子邮箱不能为空！");
           return;
		}
		if(address == ''){
		   alert("地址不能为空！");
           return;
		}
		if(question == ''){
		   alert("密码提示问题不能为空！");
           return;
		}
		if(answer == ''){
		   alert("密码提示答案不能为空！");
           return;
		}
		if(checkCode == ''){
		   alert("验证码不能为空！");
           return;
		}
        Ls.ajax({
            url:"/member/saveRegister",
            data:{uid:uid,siteId:siteId,name:name,password:newPw,sex:sex,phone:phone,email:email,address:address,question:question,answer:answer,checkCode:checkCode} 
        }).done(function (d) {
            if (d.status == 1) {
                alert("注册成功,等待管理员审核...");
                location.href = "/member/login/"+siteId;
            } else {
                alert(d.desc);
				$("#imgCode").click();
            }
        }).fail(function () {
            alert('失败!');
        });
    }
	
</script>