<style>
    .headerbg img{border: solid #FFFFFF 2px;}
    .headerbg:hover img{border: solid #FF9900 2px;}
    .headerbg.selected img{border: solid #ff0000 2px;}
</style>
<form id="attrForm" class="sui-form sui-validate" style="padding: 10px;">

    <div class="control-group">
        <div class="controls">
            <ul class="sui-row-fluid">
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                            <img src="/assets/design/static/css/imgs/header/10.1/01.jpg" alt="">
                        </a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/02.jpg" alt=""></a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/03.jpg" alt=""></a>
                    </div>

                </li>

            </ul>

            <ul class="sui-row-fluid" style="margin-top: 10px;">
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/04.jpg" alt=""></a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/05.jpg" alt=""></a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/06.jpg" alt=""></a>
                    </div>

                </li>
            </ul>
            <ul class="sui-row-fluid" style="margin-top: 10px;">
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/07.jpg" alt=""></a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/08.jpg" alt=""></a>
                    </div>

                </li>
                <li class="span4">
                    <div class="img-round">
                        <a class="headerbg" href="javascript:;">
                        <img src="/assets/design/static/css/imgs/header/10.1/09.jpg" alt="">
                        </a>
                    </div>

                </li>
            </ul>
        </div>

    </div>

</form>

<script>
//    $('#attrForm').find('.headerbg').on('click',function () {
//        $('#attrForm').find('.headerbg').removeClass('selected');
//        $(this).addClass('selected');
//    });
</script>