##获取当前标签参数
(function () {


    var linkLiArr = [],num = ll_$!{paramObj.columnId};
    if (!num || num <= 0) {
        num = "$!{paramObj.num}";
    }
#set($Integer=0)
    #set($isLogo=$!{paramObj.isLogo})
    #set($width=$!{paramObj.width})
    #set($height=$!{paramObj.height})
    #set($length="$!{paramObj.length}")
    #set($length=$Integer.parseInt($length))
#set($noteLength="$!{paramObj.noteLength}")
#set($noteLength=$Integer.parseInt($noteLength))

    #foreach($eo in $resultObj)
        #set($css="even")
        #if($velocityCount%2 == 1)
            #set($css="odd")
        #end

        #if($img.indexOf("/") !=-1)
            #set($filePath="")
        #elseif($img.indexOf(".")==-1)
            #set($filePath="$!{fileServerPath}")
        #else
            #set($filePath="$!{fileServerNamePath}")
        #end

    var linkLi = '<li class="num${velocityCount} $css">
	#if("$!{eo.attachRealName}" != "" && $eo.attachRealName.toLowerCase().indexOf(".swf") > -1)
	<object #if($width > 0) width="$width" #end #if($height > 0) height="$height" #end codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
		<param name="movie" value="$!{filePath}$!{eo.imageLink}" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent" />
		<param name="menu" value="false"/>
		<embed type="application/x-shockwave-flash"
            #if($width > 0) width="$width" #end
            #if($height > 0) height="$height" #end
               pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="$!{filePath}$!{eo.imageLink}" wmode="transparent"></embed>
    </object>
	#else
        #if("$!{isLogo}" == "1")
        <a class="img" title="#filterHtml($!{eo.title})" #if("$!{eo.redirectLink}" == "#") href="javascript:void(0)" #else href="$!{eo.redirectLink}" target="_blank" #end tabindex="-1">
            <img src="$!{filePath}$!{eo.imageLink}" #if($width > 0) width="$width" #end #if($height > 0) height="$height" #end border="0" alt="#filterHtml($!{eo.title})">
        </a>
        #end
        <h4 class="title"><a #if("$!{eo.redirectLink}" == "#") href="javascript:void(0)" #else href="$!{eo.redirectLink}" target="_blank" #end tabindex="-1">#cutstr($eo.title,$length)</a></h4>
        <p class="remark">#cutstr("#filterHtml($!{eo.remarks})",$noteLength)</p>
	#end </li>';
    linkLiArr.push(linkLi);
    #end
    ##输出内容
    var printContent = function(){
        var length = linkLiArr.length;
        if (num > length) {
            num = length;
        }
        if (linkLiArr.length > 0) {
            for (var i=0;i < num;i++) {
                document.write(linkLiArr[i]);
            }
        }
    }();
})()