#set($hasEdit=$shiro.hasColumnButton("edit"))
#set($hasPublish=$shiro.hasColumnButton("publish"))
<style>
    .property {
        width: 109px;
        height: 22px;
    }

    .refered-status {
        padding-left: 3px;
        font-weight: 700;
        color: #FF6633;
        cursor: pointer;
        font-size: 11px;
    }

    .refer-status {
        padding-left: 3px;
        font-weight: 700;
        color: #0066FF;
        cursor: pointer;
        font-size: 11px;
    }

    form>div>input {
        margin-top: 8px;
    }
    form>div>div {
        margin-top: 8px;
    }
    form>div>button {
        margin-top: 8px;
    }

    .w90 {
        width: 85px!important;
    }
</style>
<div id="doc_main" style="width: 100%; height: 100%; position: relative;">
    <div class="portlet light">
        <div class="portlet-body">

            <div class="table-toolbar">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">

                        #if($isParent != 1)
                            #if($hasEdit)
                                <div class="btn-group">
                                    <button id="article_news_add" type="button" class="btn btn-default btn-add"> 添 加
                                    </button>
                                </div>
                            #end
                        #end

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 批量操作
                                <i
                                        class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                #if($hasPublish)
                                    <li id="publishs"><a href="javascript:;">批量发布</a></li>
                                    <li id="unpublishs"><a href="javascript:;">批量取消发布</a></li>
                                    <li class="divider"></li>
                                    <li id="batchCopy_news"><a href="javascript:;">批量复制到</a></li>
                                    <li id="batchMove_news"><a href="javascript:;">批量移动到</a></li>
                                    <li class="divider"></li>
                                #end
                                #if($hasEdit)
                                    <li id="deletes"><a href="javascript:;">批量删除</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:downContents();">导出</a></li>
                                #end
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 属性筛选
                                <i
                                        class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:;" onclick="searchByType('isPublish',1)">已发布</a></li>
                                <li><a href="javascript:;" onclick="searchByType('isPublish',0)">未发布</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;" onclick="searchByType('isNew',1)">已标新</a></li>
                                <li><a href="javascript:;" onclick="searchByType('isTop',1)">已置顶</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-all-check" id="checkAll"
                                    onclick="checkAll(this)"> 全 选
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7" style="width: auto;">
                        <form class="form-inline search-toolbar" role="form">
                            #if($!{temp})
                                <div class="form-group">
                                    <div class="input-group">
                                        <div id="menuContent_ser"
                                             style="display:none; position: absolute; left: 0; top:34px; z-index: 10000; width: 212px; height: 300px; border: solid 1px #c2cad8; border-top:0px; overflow: auto; background-color: InactiveBorder">
                                            <ul id="treeDemo" class="ztree" style="margin-top:0;"></ul>
                                        </div>
                                        <input type="text" id="organId_ser" style="display: none" name="organId"
                                               disabled class="form-control readonly" ms-duplex="organId">
                                        <input type="text" id="organName_ser" placeholder="单位"
                                               class="form-control readonly" readonly ms-duplex="organName"
                                               onclick="showSerTree()">

                                        <div class="input-group-btn">
                                            <button id="icon_btn" class="btn btn-default btn-select-organ" type="button"
                                                    onclick="showSerTree()">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            #end
                            <div class="form-group">
                                <input type="text" id="resources" name="resources" class="form-control w140"
                                       placeholder="来源" maxlength="50">
                                <input type="text" id="author" name="author" class="form-control w140" placeholder="作者"
                                       maxlength="50">
                            ##                                <select type="text" id="columnName" name="columnName" class="form-control w140" placeholder="栏目名称" maxlength="50">
                            ##                                    <option value=""> 栏目名称</option>
                            ##                                </select>
                                <div class="input-group">
                                    <div id="menuContent_ser"
                                         style="display:none; position: absolute; left: 0; top:34px; z-index: 10000; width: 170px; height: 300px; border: solid 1px #c2cad8; border-top:0px; overflow: auto; background-color: InactiveBorder">
                                        <ul id="treeDemo_ser" class="ztree" style="margin-top:0;height: 100%;"></ul>
                                    </div>
                                    <input id="columnName" class="form-control" readonly style="width:170px;" name="columnName"
                                           placeholder="栏目名称" autocomplete="off" onclick="showSerTree()">
                                </div>
                                <input type="datetime" id="startTime" class="form-control w105" placeholder="开始时间"
                                       onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate: '#F{$dp.$D(\'endTime\')}',readOnly:true})"
                                       readonly>
                                <input type="datetime" id="endTime" class="form-control w105" placeholder="结束时间"
                                       onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate: '#F{$dp.$D(\'startTime\')}',readOnly:true})"
                                       readonly>
                                <input type="text" id="searchKey" name="searchKey" class="form-control w140"
                                       placeholder="关键字" maxlength="50">

                                <button type="button" class="btn btn-default btn-search" onclick="searchContent()"> 搜
                                    索
                                </button>
                                <button type="button" class="btn btn-default btn-show-all" onclick="searchClear()">
                                    显示全部
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="doc-manage">

                <table class="table table-hover doc-list">
                    <thead>
                    <tr>
                        <th class="w55">排 序</th>
                        <th class="w30">
                        #*<input type="checkbox" id="checkAll" onclick="checkAll()">*#
                        </th>
                        #if($isParent == 1)
                            <th class="w150" id="myCloumn">栏 目</th>
                        #end
                        <th>标 题</th>
                        <th class="w150">属 性</th>
                        <th class="w90">操 作</th>
                    </tr>
                    </thead>
                    <tbody id="doc_list_body">
                    </tbody>
                </table>
                <div id="pagination" class="pagination pull-right mr22"></div>
            ##        <div id="page_more" class="page_more">加载更多...</div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

</div>
<iframe name="download" id="download" style="display: none;"></iframe>
<script id="doc_list_template$!{indicatorId}" type="text/html">
    <? for(var i=0,l=data.length; i<l; i++){
        var el = data[i],titleStyle = "";
        var imga=""; var imgPath="";var globarSrc="";
        if(el.imageLink!=null&&el.imageLink!="") {
            if(el.imageLink.indexOf(".") !=-1){
                globarSrc = GLOBAL_FILESERVERNAMEPATH
            }else{
                globarSrc = GLOBAL_FILESERVERPATH
            }
            imgPath = (GLOBAL_CONTEXTPATH||"") +  + "/assets/images/img.png";
            imga='<img class="showPic" src="/assets/images/img.png"/>';
    }

    titleStyle = "color:" + el.titleColor + ";";
    if(el.isBold==1) {
    titleStyle += "font-weight:bold;"
    }
    if(el.isTilt==1) {
    titleStyle += "font-style:italic;"
    }
    if(el.isUnderline==1) {
    titleStyle += "text-decoration:underline;"
    }
    var redirectLink = "";
    if(el.redirectLink!=null&&el.redirectLink!="") {
    if(el.redirectLink.indexOf("http")!= -1){
    redirectLink = el.redirectLink
    }else{
    redirectLink = GLOBAL_HTMLFILEPATH + el.redirectLink
    }

    } else {
    redirectLink = GLOBAL_HTMLFILEPATH + "/content/article/" + el.id
    }
    var disabledStr = Ls.publishStatus(el.isPublish);
    var videoStatus = '';
    if(el.videoStatus == 0){
    videoStatus = '视频转换中...';
    }
    moveStr = "arrow_move"
    if(disabledStr){
    moveStr = "";
    }
    ?>
    <tr data-id="<?= el.id ?>" data-no="<?= el.num ?>">
        <th title="排序ID：<?=el.num?>" class="arrow_move">
            <div class="rows text-center">
                <a href="javascript:;" onclick="contentSort(<?=el.id?>,<?=el.num?>,'up')"><i class="fa fa-long-arrow-up"
                                                                                             style="margin-top:-3px"></i></a>
                <a href="javascript:;" onclick="contentSort(<?=el.id?>,<?=el.num?>,'down')"><i
                        class="fa fa-long-arrow-down"></i></a>
            </div>
        </th>
        <td>
            <div class="title">
                <?if(el.workFlowStatus != 0 && el.workFlowStatus != 2 ){?>
                <input <?=disabledStr?> type="checkbox" name="check" value="<?=el.id?>" />
            ##                <?}else{?>
            ##                    <input type="checkbox" name="check" disabled="disabled" value="<?=el.id?>">
                <?}?>
            </div>
        </td>

        #if($isParent == 1)
            <td>
                <div class="title">
                    <span style="color:#2b85e2;">[<?=el.columnName?>]</span>
                </div>
            </td>
        #end

        <td colspan="3">
            <div class="title rows">
                <a href="<?=redirectLink?>" target="_blank" style="<?=titleStyle?>">
                    <?=el.title?>
                </a>
                <? if(el.referedNews) {?><span class="refered-status"
                                               onclick="viewReferedDetail(<?= el.id ?>)">[被引用]</span><? } ?>
                <? if(el.referNews) {?><span class="refer-status"
                                             onclick="viewReferDetail(<?= el.id ?>)">[引用]</span><? } ?>
                <? if(disabledStr!="") {?><span class="publish-status publish-<?= el.id ?>">[生成中...]</span><? } ?>
                <? if(videoStatus!="") {?><span class="publish-status"><?=videoStatus?></span><? } ?>
                &nbsp;&nbsp;&nbsp;
                <a href="<?=globarSrc?><?=el.imageLink?>" target="_blank"
                   onmouseover="tooltip.show('<img src=<?=globarSrc?><?=el.imageLink?> width=150 height=120>');"
                   onmouseout="tooltip.hide();">
                    <?==imga?>
                </a>
            </div>
            <div class="title rows"><span style="color: red;" id="video_convert_complete_<?=el.id?>"></span></div>
            <div class="attr l">
                <span class="w230"><?if(el.isPublish==1){?>发布日期：<?=el.publishDate?><?}else{?>
                    添加日期：<?=el.createDate?><?}?></span>
            ##                <span class="w180">作者：<?=el.author?></span>
                <span class="w120">来源：<?=el.resources?></span>
                    <span class="w160 myHit">点击量：<?=el.hit?></span>
                <span class="pub-details"><a href="javascript:void(0)" class="pubDetails" data-id="<?=el.id?>">发布详情</a></span>
            </div>
            <div class="r w230">
                <div class="l mr42 property">
                    <?if(el.workFlowStatus != 0){?>
                    <?if(hasPublish){?>

                        <? if(el.isPublish == 0){ ?>
                        <? if(el.workFlowStatus == null || el.workFlowStatus == 'null' || el.workFlowStatus === '' || el.workFlowStatus == -1 || el.workFlowStatus == 1){ ?>
                        <? if(el.processId && el.processId != ''){ ?>
                        <button type="button" class="btn btn-default btn-xs" id="p_<?=el.id?>"
                                onclick="report(<?=el.id?>,<?=el.processId?>,'<?=el.processName?>')">
                            审
                        </button>
                        <? } else { ?>
                        <button
                        <?=disabledStr?> type="button" class="btn btn-default btn-xs <? if(el.isPublish==1){?>
                        green-meadow<?}?>" id="p_<?=el.id?>"
                        onclick="changePublish(<?=el.id?>,<?=el.isPublish?>)">发
                        </button>
                        <? } ?>
                        <? } ?>
                        <? } ?>
                        <? if (el.workFlowStatus == 2 || el.isPublish == 1) { ?>
                        <button
                        <?=disabledStr?> type="button" class="btn btn-default btn-xs <? if(el.isPublish==1){?>
                        green-meadow<?}?>" id="p_<?=el.id?>"
                        onclick="changePublish(<?=el.id?>,<?=el.isPublish?>)">发
                        </button>
                        <? } ?>
                        #if($isParent != 1)
                            <button
                            <?=disabledStr?> type="button" class=" btn btn-default btn-xs <? if(el.isTop==1){ ?>
                            blue <? } ?>" id="top_<?=el.id?>"
                            onclick="changeTop(<?=el.id?>)">顶
                            </button>
                        #end
                        <button
                        <?=disabledStr?> type="button" class=" btn btn-default btn-xs <? if(el.isTitle==1){ ?>
                        blue <? } ?>" id="title_<?=el.id?>"
                        onclick="changeTitle(<?=el.id?>)">标
                        </button>
                        <button
                        <?=disabledStr?> type="button" class="btn btn-default btn-xs <? if(el.isNew==1){ ?> blue <? } ?>
                        " id="new_<?=el.id?>"
                        onclick="changeNew(<?=el.id?>)">新
                        </button>
                    <?}?>
                    <?}else{?>
                    <button type="button" disabled class="btn btn-default btn-xs ">发</button>
                    <button type="button" disabled class="btn btn-default btn-xs">顶</button>
                    <button type="button" disabled class="btn btn-default btn-xs">标</button>
                    <button type="button" disabled class="btn btn-default btn-xs">新</button>
                    <?}?>

                </div>
                <?if(el.workFlowStatus == 0){?>
                <span class="w230" style="color:#a2a3a2">审核中</span>
                <?}else{?>
                <div class="input-group">
                    <div class="btn-group">
                        <?if(hasEdit){?>
                            <?
                            if (el.workFlowStatus == 2 && el.isPublish == 0) {
                            ?>
                            <button
                            <?=disabledStr?> type="button" onclick="Ls.copyRefer(<?=el.id?>,1)" class="btn btn-default
                            btn-xs">复制到</button>
                            <? } else if(el.workFlowStatus == 2 && el.isPublish == 1) { ?>
                            <button
                            <?=disabledStr?> type="button" onclick="Ls.copyRefer(<?=el.id?>,1)" class="btn btn-default
                            btn-xs">复制到</button>
                            <button
                            <?=disabledStr?> type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only"> 复制到 </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:;" onclick="Ls.copyRefer(<?=el.id?>,1,2)"> 引用到 </a></li>
                                <li><a href="javascript:;" onclick="sharePage(<?=el.id?>)"> 推送到 </a></li>
                            </ul>
                            <? }else{ ?>
                            <?if (el.referNews) {?>
                            <button
                            <?=disabledStr?> type="button" onclick="Ls.copyRefer(<?=el.id?>,1)" class="btn btn-default
                            btn-xs">复制到</button>
                            <button
                            <?=disabledStr?> type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only"> 复制到 </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <?if(hasPublish){?>
                                    <li><a href="javascript:;" onclick="rePublish(<?=el.id?>,1)"> 重新发布 </a></li>
                                <?}?>
                                <li><a href="javascript:;" onclick="moveById(<?=el.id?>,false)"> 移动到 </a></li>
                                <?if(el.isPublish==1){?>
                                <li><a href="javascript:;" onclick="sharePage(<?=el.id?>)"> 推送到 </a></li>
                                <?}?>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:;" id="delBtn<?=el.id?>" isRefered="false"
                                       onclick="deleteById(<?=el.id?>)"> 删 除 </a></li>
                            </ul>
                            <? }else{ ?>
                            <button
                            <?=disabledStr?> type="button" onclick="editArticle(<?=el.id?>)" class="btn btn-default
                            btn-xs">修 改</button>
                            <button
                            <?=disabledStr?> type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only"> 修 改 </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <?if(hasPublish){?>
                                    <li><a href="javascript:;" onclick="rePublish(<?=el.id?>,1)"> 重新发布 </a></li>
                                <?}?>
                                <li><a href="javascript:;" onclick="Ls.copyRefer(<?=el.id?>,1)"> 复制到 </a></li>
                                <li><a href="javascript:;" onclick="moveById(<?=el.id?>,false)"> 移动到 </a></li>
                                <li><a href="javascript:;" onclick="Ls.copyRefer(<?=el.id?>,1,2)"> 引用到 </a></li>
                                <?if(el.isPublish==1){?>
                                <li><a href="javascript:;" onclick="sharePage(<?=el.id?>)"> 推送到 </a></li>
                                <?}?>
                                <li role="separator" class="divider"></li>
                                <? if(el.referedNews) {?>
                                <li><a href="javascript:;" id="delBtn<?=el.id?>" isRefered="true"
                                       onclick="deleteById(<?=el.id?>)"> 删 除 </a></li>
                                <? }else {?>
                                <li><a href="javascript:;" id="delBtn<?=el.id?>" isRefered="false"
                                       onclick="deleteById(<?=el.id?>)"> 删 除 </a></li>
                                <? } ?>
                            </ul>
                            <? } ?>
                            <? } ?>
                        <?}?>
                    </div>
                </div>
                <?}?>
            </div>
        </td>
    </tr>
    <? } ?>
</script>
<script src="$!{rc.contextPath}/assets/js/plugins/selectPage/selectpage.min.js"></script>
<script src="$!{rc.contextPath}/assets/js/pages/content/articleNews/article_news_list.js"></script>
<script src="$!{rc.contextPath}/assets/js/pages/process/process.js"></script>
<script>

    var cur = content_mgr.param, isParent = '$!{isParent}';
    var hasEdit = $!{hasEdit};
    var hasPublish = $!{hasPublish};

    // 鼠标移动上面出现提示框
    var tooltip = function () {
        var id = 'tt';
        var top = 3;
        var left = 3;
        var maxw = 550;
        var speed = 10;
        var timer = 20;
        var endalpha = 95;
        var alpha = 0;
        var tt, t, c, b, h;
        var ie = document.all ? true : false;
        return {
            show: function (v, w) {
                if (tt == null) {
                    tt = document.createElement('div');
                    tt.setAttribute('id', id);
                    t = document.createElement('div');
                    t.setAttribute('id', id + 'top');
                    c = document.createElement('div');
                    c.setAttribute('id', id + 'cont');
                    b = document.createElement('div');
                    b.setAttribute('id', id + 'bot');
                    tt.appendChild(t);
                    tt.appendChild(c);
                    tt.appendChild(b);
                    document.body.appendChild(tt);
                    tt.style.opacity = 0;
                    tt.style.filter = 'alpha(opacity=0)';
                    document.onmousemove = this.pos;
                }
                tt.style.display = 'block';
                c.innerHTML = v;
                tt.style.position = "absolute";
                tt.style.zIndex = 99999;
                tt.style.width = w ? w + 'px' : 'auto';
                if (!w && ie) {
                    t.style.display = 'none';
                    b.style.display = 'none';
                    tt.style.width = tt.offsetWidth;
                    t.style.display = 'block';
                    b.style.display = 'block';
                }
                if (tt.offsetWidth > maxw) {
                    tt.style.width = maxw + 'px'
                }
                h = parseInt(tt.offsetHeight) + top;
                clearInterval(tt.timer);
                tt.timer = setInterval(function () {
                    tooltip.fade(1)
                }, timer);
            },
            pos: function (e) {
                var u = ie ? event.clientY + document.documentElement.scrollTop : e.pageY;
                var l = ie ? event.clientX + document.documentElement.scrollLeft : e.pageX;
                tt.style.top = (u - h) + 'px';
                tt.style.left = (l + left) + 'px';
            },
            fade: function (d) {
                var a = alpha;
                if ((a != endalpha && d == 1) || (a != 0 && d == -1)) {
                    var i = speed;
                    if (endalpha - a < speed && d == 1) {
                        i = endalpha - a;
                    } else if (alpha < speed && d == -1) {
                        i = a;
                    }
                    alpha = a + (i * d);
                    tt.style.opacity = alpha * .01;
                    tt.style.filter = 'alpha(opacity=' + alpha + ')';
                } else {
                    clearInterval(tt.timer);
                    if (d == -1) {
                        tt.style.display = 'none'
                    }
                }
            },
            hide: function () {
                clearInterval(tt.timer);
                tt.timer = setInterval(function () {
                    tooltip.fade(-1)
                }, timer);
            }
        };
    }();

    $(document).ready(function () {

        cur.pageIndex = $!{pageIndex};
        cur.conditionMap = {};//多条件筛选
        doc_manage.init();
        selectNode('', '');
        //添加
        $("#article_news_add").on('click', function () {
            clearTimeout(content_mgr.timer);
            content_mgr.getContentApp("/articleNews/articleNewsEdit?pageIndex=" + cur.pageIndex + "&typeCode=" + '$!{typeCode}').done(function () {
                if ($(window).width() < 1500) content_mgr.click();
            })

        ##            content_mgr.getContentApp("/articleNews/articleNewsEdit?pageIndex=" + cur.pageIndex + "&typeCode=" + '$!{typeCode}');
        })

        //

        $(window).resize(function () {
            if ($('#myCloumn').length > 0) {
                if ($(window).width() <= 1460) {
                    $('#myCloumn').addClass('w120').removeClass('w150');
                    $('.myHit').addClass('w90').removeClass('w160');
                } else {
                    $('#myCloumn').addClass('w150').removeClass('w120');
                    $('.myHit').addClass('w160').removeClass('w90');
                }
            }
        })

    });

    function selectNode(recUnitId, recUnitName) {
        var id = $("#organId_ser");
        var name = $("#organName_ser");
        id.val(recUnitId);
        name.val(recUnitName);
    }

    //消息回调
    indexMgr.publish = function (d) {
        getList();
    }


    //加载列表
    function getList() {
        doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status).done(function () {
            if ($(window).width() <= 1460) {
                $('#myCloumn').addClass('w120').removeClass('w150');
                $('.myHit').addClass('w90').removeClass('w160');
            }
        });
    }

    //修改
    function editArticle(id) {
        Ls.ajaxGet({
            data: {
                ids: id
            },
            url: "/articleNews/getStatus",
            success: function (text) {
                var type = text.data;
                clearTimeout(content_mgr.timer);
                if (type == null) {
                    content_mgr.getContentApp("/articleNews/articleNewsEdit?id=" + id + "&pageIndex=" + cur.pageIndex + "&type=" + type + "&typeCode=" + '$!{typeCode}').done(function () {
                        if ($(window).width() < 1500) content_mgr.click();
                    })
                } else {
                    content_mgr.getContentApp("/articleNews/articleNewsEdit?id=" + id + "&pageIndex=" + cur.pageIndex + "&type=" + type + "&typeCode=" + '$!{typeCode}').done(function () {
                        if ($(window).width() < 1500) content_mgr.click();
                    })
                }
            }
        });
    }

    function downContents() {
        cur.startTime = $("#startTime").val();
        cur.endTime = $("#endTime").val();
        cur.unitId = $("#organId_ser").val();
        $("#download").attr("src", "$!{rc.contextPath}/articleNews/downContents?status=" + cur.status + "&condition=" + cur.condition + "&columnId=" + cur.columnId + "&startTime=" + cur.startTime + "&endTime=" + cur.endTime);
    }

    function searchContent() {
        //来源
        cur.resources = $("#resources").val();
        //作者
        cur.author = $("#author").val();

        //关键字
        cur.key = $("#searchKey").val();
        cur.startTime = $("#startTime").val();
        cur.endTime = $("#endTime").val();
        cur.unitId = $("#organId_ser").val();
        doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
    }

    function searchClear() {
        cur.key = "";
        $("#searchKey,#resources,#author,#startTime,#endTime,#organId_ser").val("");
        //栏目名称
        //$("#columnName").selectPageClear();
        //来源
        cur.resources = "";
        //作者
        cur.author = "";
        cur.condition = "";
        cur.status = "";
        cur.startTime = '';
        cur.endTime = '';
        cur.unitId = '';
        cur.columnName = '';
        cur.conditionMap = {};
        doc_manage.getData(0, cur.columnId, cur.key, '', '');
    }

    function searchByType(type, status) {
        cur.condition = type;
        cur.status = status;
        cur.conditionMap[type] = status;
        doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
    }

    function checkAll(el) {
        var el = $(el);
        if (el.data("checked")) {
            $("input[name='check']").prop("checked", false);
            el.data("checked", false);
        } else {
            $("input[name='check']").prop("checked", true);//check  会被选中
            el.data("checked", true);
        }
    }

    //批量发布状态
    function publishs(type) {
        var check = [];
        $("input[name='check']:checked").each(function (i, val) {
            check.push(val.value);
        })
        if (check.length <= 0) {
            Ls.tipsInfo("至少选择一项");
            return;
        }
        Ls.ajaxGet({
            data: {
                ids: check,
                siteId: GLOBAL_SITEID,
                columnId: cur.columnId,
                type: type
            },
            url: "/articleNews/publishs",
            success: function (text) {
                if (type != 0) {
                    Ls.tipsOk("批量发布完成，正在生成处理中");
                } else {
                    Ls.tipsOk("批量取消发布完成，正在生成处理中");
                }
                doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status, cur.selectKey, cur.inputKey);
                $("#checkAll").prop("checked", false);
            }

        });
    }

    //改变发布状态
    function rePublish(id) {
        // 禁用当前行buuton 和 input
        $('tr[data-id=' + id + ']').find("button,input").attr("disabled", true);
        var check = [];
        check.push(id);
        Ls.ajaxGet({
            data: {
                ids: check,
                siteId: GLOBAL_SITEID,
                columnId: cur.columnId,
                type: 1
            },
            url: "/articleNews/publishs",
            success: function (text) {
                Ls.tipsOk("重新发布完成，正在生成处理中");
                doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status, cur.selectKey, cur.inputKey);
                $("#checkAll").prop("checked", false);
            }

        });
    }

    function batchCopy_news(isPublish) {// 批量复制
        var check = [];
        $("input[name='check']:checked").each(function (i, val) {
            check.push(val.value);
        })
        if (check.length <= 0) {
            Ls.tipsInfo("至少选择一项");
            return;
        }
        if (isPublish) {//批量复制并发布
            copyAndPublish(check);
        } else {
            Ls.copyRefer(check, 1);
        }
    }

    function batchMove_news() {// 批量移动
        var check = [];
        $("input[name='check']:checked").each(function (i, val) {
            check.push(val.value);
        })
        if (check.length <= 0) {
            Ls.tipsInfo("至少选择一项");
            return;
        }
        moveById(check);
    }


    function moveById(id) {
        var i = "移动";
        var r = "/content/toMove?contentId=" + id + "&source=1&type=1";
        Ls.openWin(r, "400px", "400px", {
            id: "copy_refer_page",
            title: i + "到",
            ok: function () {
                iframe = this.iframe.contentWindow;
                data = iframe.ok();
                data.contentId = id.toString();
                data.type = 1;
                Ls.ajax({
                    url: "/content/move",
                    data: data
                }).done(function (e) {
                    if (e.status) {
                        Ls.tipsOk(i + "完成，正在生成处理中")
                        doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status);
                    } else {
                        Ls.tipsErr(e.desc);
                    }

                })
            }
        })

    }

    //单删除
    function deleteById(id) {
        var check = [];
        check.push(id);
        var referedNews = $("#delBtn" + id).attr("isRefered");
        var msg = "确认要删除吗？";
        if (referedNews == true || referedNews == "true") {
            msg = "引用后的所有新闻将同步删除，是否确认删除？"
        }

        if (confirm(msg)) {
            Ls.ajaxGet({
                data: {
                    ids: check
                },
                url: "/articleNews/delete",
                success: function (text) {
                    if (text.status) {
                        Ls.tipsOk("删除完成，正在生成处理中")
                        doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status);
                    } else {
                        Ls.tipsErr(text.desc);
                    }

                }
            });
        }

    }


    //改变发布状态
    function changePublish(id, isPublish) {
        Ls.ajaxGet({
            data: {
                id: id,
                isPublish: isPublish
            },
            url: "/articleNews/changePublish",
            success: function (text) {
                var isPublish = text.data;
                if (isPublish == 1) {
                    $("#p_" + id).removeClass("green-meadow");
                    Ls.tipsOk("正在生成处理中");
                    doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status);
                } else {
                    $("#p_" + id).addClass("green-meadow");
                    Ls.tipsOk("正在生成处理中");
                    doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status);
                }

            }
        });
    }

    //查看被引用详情
    function viewReferedDetail(id) {
        Ls.openWin("/articleNews/viewReferedDetail?id=" + id, "800px", "300px", {
            id: "viewReferedDetail",
            title: "被引用详情",
            ok: function () {
                getList();
            },
            close: function () {
                getList();
            }
        })
    }

    //查看引用详情
    function viewReferDetail(id) {
        Ls.openWin("/articleNews/viewReferDetail?id=" + id, "800px", "200px", {
            id: "viewReferDetail",
            title: "引用详情",
            ok: function () {
                getList();
            },
            close: function () {
                getList();
            }
        })
    }

    //改变置顶状态
    function changeTop(id) {
        Ls.ajaxGet({
            data: {
                id: id
            },
            url: "/articleNews/changeTop",
            success: function (text) {
                var isPublish = text.data;
                if (isPublish == 1) {
                    $("#top_" + id).removeClass("blue");
                    Ls.tipsOk("取消置顶完成，正在生成处理中");
                    doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
                } else {
                    $("#top_" + id).addClass("blue");
                    Ls.tipsOk("置顶完成，正在生成处理中");
                    doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
                }
            }
        });
    }

    //改变标题新闻状态
    function changeTitle(id) {
        Ls.ajaxGet({
            data: {
                id: id
            },
            url: "/articleNews/changeTitle",
            success: function (text) {
                var isTitle = text.data;
                if (isTitle == 1) {
                    $("#title_" + id).removeClass("blue");
                    Ls.tipsOk("取消加标完成，正在生成处理中");
                    doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
                } else {
                    $("#title_" + id).addClass("blue");
                    Ls.tipsOk("加标完成，正在生成处理中");
                    doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);

                }
            },
            error: function () {
                Ls.tipsErr("发布失败");
            }
        });
    }

    //改变加新状态
    function changeNew(id) {
        Ls.ajaxGet({
            data: {
                id: id
            },
            url: "/articleNews/changeNew",
            success: function (text) {
                var isNew = text.data;
                if (isNew == 1) {
                    $("#new_" + id).removeClass("blue");
                    Ls.tipsOk("取消加新完成，正在生成处理中");
                } else {
                    $("#new_" + id).addClass("blue");
                    Ls.tipsOk("加新完成，正在生成处理中");
                }
            }
        });
    }


    function contentSort(id, num, opr) {
        //如果是父节点,则不用排序
        if (isParent == 1) {
            return false;
        }
        var data = {
            opr: opr,
            oprId: id,
            oprSort: num,
            columnId: cur.columnId,
            title: cur.key,
            condition: cur.condition,
            status: cur.status
        };

        Ls.ajaxGet({
            data: data,
            url: "/content/contentSort",
            success: function (text) {
                if (text.status == 0) {
                    Ls.tipsInfo(text.desc);
                } else {
                    doc_manage.getData(cur.pageIndex, cur.columnId, cur.key, cur.condition, cur.status);
                    Ls.tipsOk("排序完成，正在生成处理中");
                }
            }
        });
    }


    function copyNews(id) {
        art.dialog.open("/content/copyNews?id=" + id, {
            width: '550px',
            height: '460px',
            lock: true,
            title: '复制到'
        });
    }

    function referPage(id) {
        art.dialog.open("/content/referPage?id=" + id, {
            width: '430px',
            height: '460px',
            lock: true,
            title: '引用到'
        });
    }

    function sharePage(id) {
        art.dialog.open("/content/sharePage?id=" + id, {
            width: '570px',
            height: '365px',
            lock: true,
            title: '推送'
        });
    }

    function report(dataId, processId, processName) {
        startProcess("EX", cur.columnId, "ArticleNews", dataId, processId, processName);
    }

    function reloadData() {
        doc_manage.getData(0, cur.columnId, cur.key, cur.condition, cur.status);
    }

    function showSerTree() {
        var columnName = $("#columnName");
        $("#menuContent_ser").css({width: columnName.outerWidth() - 1}).slideDown("fast");
        $("body").on("mousedown", onSerBodyDown);

    }

    function hideSerTree() {
        $("#menuContent_ser").hide();
        $("body").unbind("mousedown", onSerBodyDown);
    }

    function onSerBodyDown(event) {
        if (!(event.target.id == "menuContent_ser" || $(event.target).parents("#menuContent_ser").length > 0)) {
            hideSerTree();
        }
    }
</script>
</script>