#parse("_page_layout/_header.vm")
<body class="page-body-white">
<div class="portlet light">
    <div class="portlet-body form">
        <form role="form" ms-controller="message_button_forward" id="message_button_forward">

            <div class="form-body">
                #if($isLocal==1)
                    <div class="form-group">
                        <span>请选择流转区域：</span>
                        <select name="localUnitId" id="localUnitId" class="form-control" data-rule="required" data-msg="请选择流转区域">
                            <option value="" selected="selected">请选择流转区域</option>
                            #foreach($l in $localList)
                                <option value="$l.code">$l.key</option>
                            #end
                        </select>
                    </div>
                #end
                #if($recType==0||$isTurn==1)
                    <div class="form-group">
                        <label>流转单位列表：</label>
                        <textarea class="form-control" name="recUnitNames" id="recUnitNames" rows="3" data-rule="required" data-msg="请选择转单位"  placeholder="点击选择单位"></textarea>
                        <input type="hidden" name="receiveUnitIds" id="receiveUnitIds"/>
                        <input type="hidden" name="temp" id="temp" />
                    </div>
                #elseif($recType==1)
                    <div class="form-group">
                        <label>流转人列表：</label>
                        <textarea class="form-control" name="recUserNames" id="recUserNames"  data-rule="required" data-msg="请选择转办人" rows="3" placeholder="请选择转办人"></textarea>
                        <input type="hidden" name="recUserIds" id="recUserIds"/>
                        <input type="hidden" name="usertemp" id="usertemp" />

                    </div>
                #end
                #*<div class="form-group">
                    <label>附件：</label>
                    <div class="input-group">
                        <input type="hidden" id="attachId" name="attachId" />
                        <input type="text" id="attachName" name="attachName"  class="form-control" disabled="true"　readOnly="true"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-default-upload" type="button" onclick="uploadAttachment()">上传
                                <i class="fa fa-cloud-upload"></i>
                            </button>
                        </div>
                        <!-- /btn-group -->
                    </div>
                </div>*#
                <div class="form-group">
                    <label>流转备注：</label>
                    <textarea class="form-control" name="remarks" rows="4"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
#parse("_page_layout/_footer.vm")
<script>

    var recType ='$!{recType}';
    var columnId ='${columnId}';
    var receiveUnitIds ='${receiveOrganIds}';
    var recUnitNames ='${receiveUnitNames}';
    var recUserNames ='${recUserNames}';
    var recUserIds = '${recUserIds}';
    var isTurn='$!{isTurn}';
    var cur = {
        id : "message_button_forward",
        message_id : "$!{id}",
        recType : "$!{recType}",
        messageBoardId:'${messageBoardId}',
        isLocal:"$!{isLocal}",
        win: Ls.getWin.win,
        api:Ls.getWin.api,
        selectOrgans: [],
        organIds:''
    };
    $(document).ready(function(){
        // 验证
        $('#' + cur.id).validator({
            valid: function(form){
                var me = this;
                me.holdSubmit();
                var data = $(form).serializeObject();
                data.id = cur.message_id;
                data.recType = cur.recType;
                data.isTurn = isTurn;
                data.messageBoardId = cur.messageBoardId;
                data.receiveUnitIds = $("#receiveUnitIds").val();
                data.recUnitNames = $("#recUnitNames").val();
                data.recUserIds = $("#recUserIds").val();
                // 提交
                Ls.ajaxGet({
                    url: "/messageBoard/forward",
                    data: data
                }).done(function (d) {
                    if (d.status == 0) {
                        Ls.tipsErr("操作失败：" + d.desc, {
                            callback: function(){
                                me.holdSubmit(false);
                            }
                        });
                    } else {
                        Ls.tipsOk('转办成功', {
                            callback: function(){
                                Ls.getWin.win.searchClear();
                                me.holdSubmit(false);
                                Ls.getWin.api.close();
                            }
                        });
                    }
                });
            }
        });
    });

    $( "#recUnitNames" ).click(function() {
        Ls.selectUnitUser(function(arg){
            if(arg && arg.list.length>0){
                cur.selectOrgans = arg.list;
                if(arg && arg.ids && arg.names){
                    console.info(arg.ids);
                    console.info(arg.names);
                    $("#recUnitNames").val(arg.names);
                    $('#temp').val(arg.ids);

                    $('#receiveUnitIds').val(arg.ids);
                    cur.organIds = arg.ids;
                }
            }
        },{
            scope:3,
            scopeType:'multi',
            organIds:'',
            data:{
                list: cur.selectOrgans
            },
            messageId: Ls.url.get('id'),
            messageColumnId: Ls.url.get('columnId')
        });
    });

    $( "#recUserNames" ).click(function() {
        var usertemp = $("#usertemp").val();
        var url = '/messageBoard/toSelectColumnTree?columnId=' + columnId+'&&recType='+recType+'&&recUserIds='+recUserIds+'&&usertemp='+usertemp ;
        Ls.openWin(url, '400px', '500px', {
            id: 'syn_column',
            title: '转办人',
            padding: 0,
            ok: function () {
                iframe = this.iframe.contentWindow;
                data = iframe.doOk();
                if (data != null) {
                    $('#usertemp').val(data.ids);
                    $('#recUserIds').val(data.ids);
                    $('#recUserNames').val(data.names);
                }
            }
        });
    });

    function moveOrgan(id, pid) {
        Ls.selectUnitUser(function(arg){
            if(arg && arg.list.length>0){
                if(arg && arg.ids && arg.names){
                    console.info(arg.ids);
                    console.info(arg.names);
                    Ls.tipsOk("组织移动中,请稍后...");
                    Ls.ajaxGet({
                        url: "/organ/saveMoveOrgan",
                        data: {
                            selectOrganId: arg.ids,
                            clickOrganId: id,
                        }
                    }).done(function (d) {
                        if(d.status == 1){
                            Ls.tipsOk("操作成功!");
                            try{
                                var treeNodeC = cur.ztree.getNodeByParam("id", pid, null);
                                var isReload = false
                                if (treeNodeC != null && treeNodeC.id != 1) {
                                    cur.ztree.reAsyncChildNodes(treeNodeC, "refresh");
                                }else {
                                    isReload = true;
                                }
                                var treeNodeS = cur.ztree.getNodeByParam("id", arg.ids, null);
                                if (treeNodeS != null && treeNodeS.id != 1) {
                                    cur.ztree.reAsyncChildNodes(treeNodeS,"refresh");
                                }else {
                                    isReload = true;
                                }
                                if(isReload){
                                    cur.isLoadRoot = false;
                                    unitManage.organ();
                                }
                            }catch (e){}
                        }else{
                            Ls.tipsErr(d.desc);
                        }
                    })
                }
            }
        },{
            scope:3,
            scopeType:'single',
            organIds:'',
            data:{
                list: {list:[]}
            }
        });
    }




    function uploadAttachment() {
        Ls.uploadFile(function (filePath) {
            if (filePath != '') {
                var serverData = filePath[0];
                cur.attachId=filePath[0].fileName;
                cur.attachName = filePath[0].fileName;
                $('#attachName').val(filePath[0].fileName);
                $('#attachId').val(filePath[0].fileName);
            }
            return true;
        }, {
            lock: true,
            title: '上传附件',
            file_size_limit: "20 MB",
            file_types: "*.zip;*.rar;*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.pptx;*.txt;*.jpg;*.gif;*.bmp;*.pdf",
            file_upload_limit: 1,  //配置上传个数
            post_params: {
                "type":"NotDefined"
            }

        });
    }

</script>	